<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: 'Crear producto'}) %>

    <link rel="stylesheet" href="\css\createProduct.css" />
  </head>
  <body>
    <%- include('../partials/headerCf') %>

    <main>
      <div class="div-newProduct">
        <section class="form-newProduct">
          <h2>Nuevo Producto</h2>

          <form action="/products" method="post" enctype="multipart/form-data">
            <input
              class="controls"
              type="text"
              name="name"
              id="name"
              placeholder="Nombre del Producto"
            />

            <input
              class="controls"
              type="text"
              name="shortName"
              id="shortName"
              placeholder="Producto abreviado"
            />

            <input
              class="controls"
              type="text"
              name="brand"
              id="brand"
              placeholder="Marca del Producto"
            />

            <input
              class="controls"
              type="text"
              name="price"
              id="price"
              placeholder="Precio"
            />

            <input
              class="controls"
              type="number"
              name="discount"
              id="discount"
              placeholder="% OFF"
            />
            <!-- sacamos offer porque es redundante, agregar una función si tiene % offer true -->
            <input
              class="controls"
              type="text"
              name="preferentialPrice"
              id="preferentialPrice"
              placeholder="Precio por mayor"
            />

            <input
              class="controls"
              type="number"
              name="mount"
              id="mount"
              placeholder="Stock"
            />
            <!-- sold va a ser resultado de una función que muestre la cantidad vendida -->
            <!-- bestseller tiene que ser una función que compare las ventas de los productos -->

            <!--  SELECT CON CHECKBOX -->

            <label for="category">Categoria:</label>
            <select name="category" id="category" class="controls">
              <option value="">Elegi:</option>
              <option value="detergente">Detergente</option>
              <option value="lavandina">Lavandina</option>
              <option value="papelHigienico">Papel higiénico</option>
              <option value="limpiadorDeRopa">Limpiador de ropa</option>
              <option value="limpiadorDeMuebles">Limpiador de muebles</option>
              <option value="limpiadorDePiso">Limpiador de piso</option>
            </select>
            <!-- <div class="container">
              <div class="select-btn">
                <span class="btn-text">Categorías</span>
                <span class="arrow-dwn">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
              <ul class="list-items">
                <li class="item">
                  <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                  </span>
                  <span class="item-text"> Detergente</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                  </span>
                  <span class="item-text"> Lavandina</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                  </span>
                  <span class="item-text"> Limpiador de muebles</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                  </span>
                  <span class="item-text"> Limpiador de piso</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                  </span>
                  <span class="item-text"> Limpiador de ropa</span>
                </li>
                <li class="item">
                  <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                  </span>
                  <span class="item-text"> Papel higiénico</span>
                </li>
              </ul>
            </div> -->

            <!-- FIN DE SELECT CON CHECKBOX -->

            <p class="p-newProduct">Seleccionar Imagen de Producto</p>
            <input
              class="controls"
              type="file"
              name="image"
              id="image"
              accept="image/png, .jpeg, .jpg, image/gif"
            />

            <p class="p-newProduct">Descripción</p>
            <textarea
              id="description"
              name="description"
              rows="4"
              cols="50"
            ></textarea>

            <button type="submit" class="createProductButton">
              Crear Producto
            </button>
          </form>
        </section>

        <!-- JS -->
        <script>
          const selectBtn = document.querySelector(".select-btn"),
            items = document.querySelectorAll(".item");

          selectBtn.addEventListener("click", () => {
            selectBtn.classList.toggle("open");
          });

          /* cambia estado a checkeado(checked) al clickear sobre cada categoria */
          items.forEach((item) => {
            item.addEventListener("click", () => {
              item.classList.toggle("checked");

              /* le asigna valor length */
              let checked = document.querySelectorAll(".checked"),
                btnText = document.querySelector(".btn-text");

              /* MUESTRA LA CANTIDAD QUE SELECCIONAMOS */
              if (checked && checked.length > 0) {
                /* console.log("valid") */
                btnText.innerText = `${checked.length} Seleccionadas`;
              } else {
                /* console.log("invalid") */
                btnText.innerText = "Seleccionar Categoría";
              }
            });
          });
        </script>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
