<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="\css\productList.css" />
    <link rel="stylesheet" href="/css/productCard.css" />

    <title>Lista de Productos</title>
  </head>
  <body>
    <%- include('../partials/headerCf') %>

    <main>
      <div class="nav">
        <a href="/">Home</a>
        <span>/</span>
        <a href="/products/productList">Productos</a>
      </div>
      <section class="product"></section>
      <section class="relatedProducts">
        <h3 class="nameList">Lista de productos</h3>
        <div class="allProducts">
          <% products.forEach(product => { %><%-
          include("../partials/productCard", {product}) %> <% }); %>
        </div>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
