.tableProducts {
  width: 100%;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #9e9ea4;
  color: #1d2634;
}

thead th {
  text-align: center;
  padding: 8px;
}

tbody tr {
  border-bottom: 1px solid #9e9ea4;
}

tbody th {
  text-align: center;
}

tbody td {
  padding: 15px;
  text-align: center;
  /* border-left: 1px solid #9e9ea4; */
}

tbody tr:hover {
  background-color: #9e9ea4;
  color: #1d2634;
}
