/*        inicio        */
/*        footer      */

.txt-c {
  text-align: center;
}
.b-color {
  background-color: #111e4f;
}

.icon-color {
  color: #ff8222;
}

.bk-color {
  background-color: #6f6f6f;
}
/* inicio newsletter */
.title-nl {
  padding-top: 25px;
  color: #eee;
}

.mail-m {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;
}
.button-p {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 15px;
}

.box1-1 {
  display: flex;
  flex-direction: column;
}

.box1-2 {
  display: flex;
}

.box1-3 {
  display: flex;
}

.shadow {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.subButton {
  background-color: transparent;
  border-radius: 4px;
  padding: 4px 8px;
  color: white;
  border: #fff 2px solid;
  cursor: pointer;
  transition: all 400ms;
}
.subButton:hover {
  background-color: #111e4f;
  opacity: 70%;
  color: #fff;
}
/* final newsletter */

/* inicio Redes */
.color-wp {
  color: #25d366;
}

.color-fb {
  color: #4267b2;
}

.color-ml {
  color: #db4437;
}

.color-insta {
  color: #c13584;
}

.icons {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
.redes-m {
  margin-left: 5%;
  margin-right: 5%;
}

.box2-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
  width: 100%;
}

/* Final Redes */

.seg {
  padding-top: 5px;
}
.icon-2 {
  margin: 5%;
}
/* inicio envio full-gratis-atencion cliente */
.box3-1 {
  display: flex;
}

.icons-margin {
  margin: 4%;
  color: #111e4f;
}
/* final envio full-gratis-atencion cliente */
/* inicio afip img */

.box4-1 {
  display: flex;
}

.img-qr {
  text-align: center;
  width: 25%;
  margin-top: 10px;
}

.shadow2 {
  box-shadow: 0px 0px 10px rgb(66, 65, 65);
}
/* final afip img */

/*        inicio        */
/*        desktop      */
@media (min-width: 1280px) {
  /* Inicio Newsletter */

  .title-nl {
    padding-top: 25px;
    margin-top: 30px;
  }

  .mail-m {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    padding: 7px;
  }

  .button-p {
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 15px;
    padding: 3px;
  }

  /* Final Newsletter */

  /* Inicio Redes  */

  .icons {
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  /* Final Redes  */

  /* Inicio ifo  */

  .box5-1 {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  /* final ifo  */

  /* Inicio afip  */

  .img-qr {
    width: 25%;
  }

  .box6-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .item-1 {
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
    order: 1;
  }

  .copy {
    margin-right: 10px;
    padding-right: 20px;
    color: #eee;
  }
}
