




/* Header */

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.topLeftHeader {
  
  text-align: center;
  background-color: #243a76;
  padding: 3px 0;
 
  
}


.tiendaButton{
  
  background-color: transparent;
  border-radius: 4px;
  padding: 4px 8px;
  color:white;
  border: #e68c3a 2px solid;
  cursor: pointer;
  transition: all 400ms;
 
}
.tiendaButton:hover{
  background-color:#e68c3a;
  color: #fff;
}


/* texto tienda animacion */

.textoTienda{
  color: #ff8222;
  font-family: "Source Sans Pro", sans-serif;  
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms , glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation-iteration-count: infinite;
  
}
@-webkit-keyframes reveal {
  50% {
    letter-spacing: 5px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes reveal {
  50% {
    letter-spacing: 5px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

/* fin texto tienda animacion */

.topRightHeader li {
  background-color: #55a4da;
  padding: 10px;
  margin: 5px;
  width: auto;
  border-radius: 4px;
  transition: all 400ms;
}

.topRightHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 200ms;
 
}

.topRightHeader a {
  text-decoration: none;
  color: white;
  background: transparent;
}


.topRightHeader a:hover{
  background-color:transparent;
  color: #fff;
  
}

.topRightHeader li:hover{
  background-color:#ff8222;
  color: #fff;
  box-shadow: 2px 3px 3px #e4e1e1;
  
}


.navList ul,
.navMobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
    
}

.navList li,
.navMobile li {
  background-color: #55a4da;
  padding: 10px;
  margin: 0 5px 5px;
  width: auto;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms;
  
  
}

.navList li:hover, .navMobile li:hover{
  background-color:#ff8222;
  color: #fff;
  box-shadow: 2px 3px 3px #e4e1e1;
  }

.navList a,
.navMobile a {
  text-decoration: none;
  color: white;
}

.searchBar {
  display: none;
  border-radius: 8px;
  width: auto;
  margin-right: 5px;
}

.fa-cart-shopping, .fa-magnifying-glass {
  color: #ff8222;
}

/* Estilos para la navegación en dispositivos móviles */
.navMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  background-color: #55a4da;
  padding: 5px;
  
}

.navRightMobile {
  display: flex;
  width: auto;
  order: 1;
  text-align: right;
}

.menuMobile {
  background-color: #243a76;
  /* border: #e68c3a 2px solid; */
  padding: 5px;
  width: 80vw;
  position: fixed;
  display: none;
}

.bottomLeftNav ul li {
  display: none;
}

/* Estilos para pantallas de escritorio (más de 1280px) */
@media (min-width: 1280px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
  .topLeftHeader {
    display: flex;
    padding-left: 20px;
    text-align: left;
    align-items: center;
    width: 40%;
    justify-content: flex-start;
  }
  .tiendaMayoristaDiv{ /* dejo fijo el boton Cambiar a tienda mayorista */
  
    position: absolute;
    left: 28%;
  
  }
  .searchBar {
    display: inline-block;
    border-radius: 8px;
    width: 500px;
  }
  .navMobile {
    flex-direction: row;
    width: 60%;
    font-size: 25px;
    background-color: #243a76;
    padding: 5px;
  }
  .navRightMobile {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .topRightHeader li {
    background-color: #243a76;
  }
  .navList li,
  .navMobile li {
    background-color: #243a76;
  }
  .navRightMobile i {
    margin: 0 10px;
  }
  .navList {
    margin-top: 5px;
  }

  /* HACER MENU DESPLEGABLE */

  /*   .bottomLeftNav ul li {
    display: inherit;
  }

  .bottomLeftNav li a {
    display: block;
  }

  .bottomLeftNav li > ul {
    float: left;
  }

  .bottomLeftNav li:hover > ul {
    display: inline-block;
    position: absolute;
  }

  .bottomLeftNav li ul {
    display: none; 
    position: relative;
  } */

  /**/
  .menuMobile {
    background-color: #55a4da;
    display: flex;
    position: inherit;
    width: 100%;
    justify-content: flex-end;
  }
  .noDesk i {
    display: none;
  }
  .topRightHeader {
    order: 1;
  }
  .bottomRightNav {
    display: flex;
  }
  .bottomLeftNav {
    display: flex;
  }
  .noDesk img {
    width: 3%;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
  }
}
