/* Main */

body{
    width: 98vw;
}

/* banner de fotos START*/
/* se va a ver correctamente cuando apliquemos javascript */
.banner{
    position: relative;
    overflow:hidden; 
}

.carouselContainerBanner{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carouselContainerBanner img{
    width: 100%;
}
/* se va a ver correctamente cuando apliquemos javascript */

nav {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 5%;
}

ul li {
    font-size: 12px;
}


.leftArrow{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 60px;
    background-color: transparent;
    border: red 1px solid;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 10px 20px 10px 3px;
}

.leftArrow i{
    font-size: 15px;
    padding-left:3px;
}

.rightArrow{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) scaleX(-1);
    cursor: pointer;
    width: 30px;
    height: 60px;
    background-color: transparent;
    border: red 1px solid;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 10px 20px 10px 3px;
}

.rightArrow i{
    font-size: 15px;
    padding-right: 3px;
    transform: scaleX(-1);;
}

.carouselContainerBanner ul button{
    border: 1px green solid;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: yellow;
}

/* Offers */

.offers{
    position:relative;
    overflow:hidden; 
    margin: 10px 0;
}

.offers h3{
    color: #243a76;
    text-align: center;
    padding: 10px 25px;
    font-size: 25px;
    background-color: #55a4da;
}

.carouselContainerOffers{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding: 0px 4%;

}

.carouselContainerOffers .leftArrow{
    border-radius: 0px;
    right: 0%;
    display: none;
}

.carouselContainerOffers .rightArrow{
    border-radius: 0px;
    display: none;
}

.productCard{
    border: red 1px solid;
    width: 48%;
    
}

.productCard img{
    width: 100%;
}

.productCard a{
    text-decoration: none;
    color: black;
}

/* New Mayorista */


.newMayoristaQuestion{
    background-color: #55a4da;
    width: 100%;    
    padding: 20px;
    margin: 0  auto;
    color: #fff;
}




.newMayoristaButtonContainer{
    background-color: #243a76;
    width: 100%;
    margin: 0  auto;

}

.newMayoristaButton{
    border: none;
    background-color: transparent;
    padding: 20px;    
}

.newMayoristaButton a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.hoverMayorista{
    transition: color 400ms;
}

.newMayoristaButton a:hover .hoverMayorista{
    color: orange;
}

.newMayoristaButton i{
    padding-right: 7px;
}


/* benefits START */

.benefitsSection{
    background-color: #eee;
    padding: 30px 20px;
    border-bottom: 4px solid #55a4da;
}

.benefitsSection i{
    font-size: 30px;
    color: #55a4da;
}

.benefitsSection h2{
    color: #243a76;
    margin: 9px 0;
}

.benefitsList{
    list-style: none;
    text-align: left;
}

.benefitsList li{
    margin-bottom: 5px;
}

.benefitsList i{
    margin-right: 10px;
    font-size: 12px;
}


/* login START */

.loginOutsideBox{
    padding:30px 15px;
}

.loginBanner{
    background-color: #243a76;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px 15px  ;
}

.loginBannerTitle{
    padding: 0 50px;
    font-size: 20px;
    text-align: center;
}

.loginBannerLine{
    width: 70px;
    height: 3px;
    background-color: #ff8222;
    margin: 15px auto;
}

.loginFormContainer{
    border: solid 1px #dadada;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.loginFormTitle{
    color: #243a76;
    margin-top: 20px;
    margin-bottom: 10px;
}




/* lo mas vendido START */

.bestSellers{
    position:relative;
    overflow:hidden; 
    margin-bottom: 10px;
}

.bestSellers h3{
    color: #243a76;
    text-align: center;
    padding: 10px 25px;
    font-size: 25px;
    background-color: #55a4da;
}

.carouselContainerBestSellers{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding: 0px 4%;

}

.carouselContainerBestSellers .leftArrow{
    border-radius: 0px;
    right: 0%;
    display: none;
}

.carouselContainerBestSellers .rightArrow{
    border-radius: 0px;
    display: none;
}

.productCard{
    border: red 1px solid;
    width: 48%;
    
}

.productCard img{
    width: 100%;
}

.productCard a{
    text-decoration: none;
    color: black;
}

/* encontra el producto */
/*        inicio        */
.bk{
    background-color: #eee;
}

.contenedor{
    display: flex;
    width: 100%;
}

.contenedor-2{
    display: flex;
    flex-direction: column;
   align-items: center;
   flex-grow: 1;
   width: 50%;
}

.contenedor-3{
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.contenedor-4{
display: flex;
flex-direction: column;
justify-content: center;
padding: 15%;
height: 60%;
width: 100%; 
}

.contenedor-5{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.contenedor-6{
    display: flex;
    justify-content: center;
    padding: 2%,0%,2%,1%;
    text-align: right; 
}

.pd-r{
    padding-right: 2%;
}

.p-t{
   
    margin-top: 3%;
    
}

.select-1{
   
    font-size:10px;
    padding-top: 1px;
    padding-bottom: 1px ;
    padding-left: 1px ;
    padding-right:-1px ;
    margin-right: 0px;
    margin-left: 5%;
}

.select-2{
   
    font-size: 10px;
    padding-top: 1px;
    padding-bottom: 1px ;
    padding-left: 1px ;
    padding-right:1px ;
    margin-right: 20px;
   
}

.enc{
    font-size: 8px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 25%;
    margin-right: 25%;
    
}
.bl{
    display: block;
    text-align: center;
}

/*        inicio        */
/*        categorias      */



.boxc-1{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.boxc-2{
    display: flex;
    width: 100%;
    height: 25vw;
    padding-top: 1%;
    padding-bottom: 1%;
}
.boxc-3{
    display: flex;
    width: 100%;
    height: 25vw;
    padding-top: 1%;
    padding-bottom: 1%;
}
.boxc-4{
    display: flex;
    width: 100%;
    height: 25vw;
    padding-top: 1%;
    padding-bottom: 1%;
}























/*        inicio        */
/*        footer      */

.txt-c{
    text-align: center;
}
.b-color{
    background-color: #025f9a;
}

.icon-color{
    color:#ff8222;
}

.bk-color{
    background-color:#243a76 ;
}
/* inicio newsletter */
.title-nl{
    margin-top: 15px;
    color: #eee;
}


.mail-m{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
}
.button-p{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
}

.box1-1{
    display: flex;
    flex-direction: column;
}

.box1-2{
    display: flex;
    
}

.box1-3{
    display: flex;
    
}

.shadow{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);  
}
/* final newsletter */

/* inicio Redes */
.color-wp{
    color: #25D366;
}

.color-fb{
    color:#4267B2 ;
}

.color-ml{
    color: #DB4437;
}

.color-insta{
    color: #C13584;
}

.icons{
    width:100% ;
    text-align: center;
    margin: 10%;
}
.redes-m{
margin-left:5% ;
margin-right: 5%;
}


.box2-1{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom: 3%;
  width: 100%;
}



/* Final Redes */

/* inicio envio full-gratis-atencion cliente */
.box3-1{
    display: flex;
    
}

.icons-margin{
    margin: 4%;
    color:#025f9a;
}
/* final envio full-gratis-atencion cliente */
/* inicio afip img */

.box4-1{
    display: flex;
}

.img-qr{
text-align: center;
   width:25%;
   margin-top: 10px;
}

.shadow2{
    box-shadow: 0px 0px 10px rgb(66, 65, 65);  
}
/* final afip img */


/*        inicio        */
/*        desktop      */
@media (min-width:1280px){

/* encontra el producto */
/*        inicio        */
.bk{
    background-color: #185397;
}
.contenedor{
    display: flex;
    border: 3px solid red;
}

.contenedor-2{
    display: flex;
    flex-direction: column;
   align-items: center;
   flex-grow: 1;
}

.contenedor-3{
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 3px solid blue ; 
}

.contenedor-4{
display: flex;
flex-direction: column;
justify-content: center;
padding: 15%;
height: 60%;
width: 100%;
border: 3px solid rgb(43, 255, 0) ; 
}

.contenedor-5{
    display: flex;
    justify-content: center;
padding: 2%;
    border: 3px solid rgb(255, 0, 191) ; 
}

.contenedor-6{
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 3px solid rgb(0, 0, 0) ; 
}

.pd-r{
    padding-right: 2%;
}

.p-t{
    padding: 1%;
    margin-top: 3%;
}


.bl{
    display: block;
    text-align: center;
}
.img-r{
    border: 3px solid blue ; 
}
/* encontra el producto */
/*        final         */

/*        footer        */
/*        inicio        */


    /* Inicio Newsletter */
    
        .title-nl{
            padding-top: 25px;
            margin-top: 30px;
            
        }
    
        .mail-m{
            margin-left: 30%;
            margin-right: 30%;
            margin-bottom: 1%;
            padding: 7px ;
        }
    
        .button-p{
            margin-left: 45%;
            margin-right: 45%;
            margin-bottom: 15px;
            padding: 3px;
        }
    
        /* Final Newsletter */
    
        /* Inicio Redes  */
    
        .icons{
            width:100% ;
            text-align: center;
            margin: 20px;
        }
    
    /* Final Redes  */
    
    /* Inicio ifo  */
    
    .box5-1{
        display: flex;
        justify-content: space-between;
    }
    
    /* final ifo  */
    
    /* Inicio afip  */
    
    .img-qr{
           width:25%;
        }
    
    .box6-1{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .item-1{
        display: flex;
        margin-left: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 10px;
        order: 1;
    }
    
    .copy{
        margin-right: 10px;
        padding-right: 20px;
        color:#eee ;
    }
}