/* Main */

body{
    width: 98vw;
}

.banner{
    position: relative;
    overflow:hidden; 
}
/* se va a ver correctamente cuando apliquemos javascript */

.carouselContainerBanner{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carouselContainer img{
    width: 100%;
    height: auto;
}

nav {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 5%;
}

ul li {
    font-size: 12px;
}


#leftArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;  
    border: red 1px solid;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    padding: 10px 5px 10px 1px;
}

#leftArrow i{
    font-size: 20px;
}

#rightArrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 1%;
}

.benefitsSection{
    background-color: orange;
}

#fotoLimpiar{
    width: 100%;
    max-height: 100%;
}

.benefitsContainer{
    padding: 5px 25px;
}

.benefitsTitle{
    display: block;
    text-align: left;
}

.benefitsList{
    list-style: none;
    text-align: left;
}

.benefitsList li{
    margin-bottom: 5px;
    display: block;
}

.benefitsList i{
    margin-right: 10px;
    font-size: 12px;
}

.allyBrands h3{
    color: blue;
    text-align: center;
    padding: 10px 25px;
}


.allyBrands{
    position: relative;
    overflow:hidden;
}

.carouselContainerBrands{
    display: flex;
}
/* encontra el producto */
/*        inicio        */
.bk{
    background-color: #185397;
}
.contenedor{
    display: flex;
    border: 3px solid red;
}

.contenedor-2{
    display: flex;
    flex-direction: column;
   align-items: center;
   flex-grow: 1;
}

.contenedor-3{
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 3px solid blue ; 
}

.contenedor-4{
display: flex;
flex-direction: column;
justify-content: center;
padding: 15%;
height: 60%;
width: 100%;
border: 3px solid rgb(43, 255, 0) ; 
}

.contenedor-5{
    display: flex;
    justify-content: center;
padding: 2%;
    border: 3px solid rgb(255, 0, 191) ; 
}

.contenedor-6{
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 3px solid rgb(0, 0, 0) ; 
}

.pd-r{
    padding-right: 2%;
}

.p-t{
    padding: 1%;
    margin-top: 3%;
}


.bl{
    display: block;
    text-align: center;
}
.img-r{
    border: 3px solid blue ; 
}












