/* Main */

/* banner de fotos START*/
.bannerContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%; /* corro todo el slider 1 posicion (w400% / 4 = 100%) */
}

.bannerSection {
  width: 100%;
}

.bannerImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottomCar {
  list-style: none;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

.bottomCar li {
  font-size: 12px;
}

.bottomCar button {
  border: 1px green solid;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.leftArrow:hover {
  background-color: #fff;
}

.leftArrow i {
  font-size: 15px;
  padding-left: 3px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scaleX(-1);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.rightArrow:hover {
  background-color: #fff;
}

.rightArrow i {
  font-size: 15px;
  padding-right: 3px;
  transform: scaleX(-1);
}

/* main banner END */
/* beneficios START*/

#fotoLimpiar {
  width: 100%;
  height: 100%;
}

.benefitsContainer {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  text-align: center; 
  height: 240px;
  padding: 5px 25px;
  margin: 0 auto; /* Centra el contenedor en la página */
  background-color: white;
  
}

.benefitsTitle {
  display: block;
  color: #151516;
}

.benefitsList {
  list-style: none;
  align-items: center;
  padding: 20px;
  width: 100%;
  color: #27356e;
}

.benefitsList li {
  font-size: 18px; /* Tamaño del ícono */
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  padding: 5px;
  opacity: 0; /* Configura la opacidad inicial en 0 */
  transition: opacity 0.5s ease-in-out; /* Ajusta la transición según sea necesario */
}



.benefitsList i {
 
  font-size: 12px;
  display: none; /* Oculta los números */
}

/* Nos acompañan START */

.allyBrands {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}

.allyBrands h3 {
  color: white;
  text-align: center;
  padding: 10px 25px;
  font-size: 25px;
  background-color: #6f6f6f;
}

.carouselContainerBrands {
  display: flex;
  position: relative;
  padding: 0px 20px;
  justify-content: space-between;
}

.carouselContainerBrands img {
  width: 50%;
  height: 200px;
}

.carouselContainerBrands .rightArrow {
  border-radius: 0px;
}

.carouselContainerBrands .leftArrow {
  border-radius: 0px;
}

/* lo mas vendido START */

.bestSellers {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}

.bestSellers h3 {
  color: white;
  text-align: center;
  padding: 10px 25px;
  font-size: 25px;
  background-color: #6f6f6f;
}

.carouselContainerBestSellers {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding: 0px 4%;
}

.carouselContainerBestSellers .leftArrow {
  border-radius: 0px;
  right: 0%;
  display: none;
}

.carouselContainerBestSellers .rightArrow {
  border-radius: 0px;
  display: none;
}

.productCard {
  border: red 1px solid;
  width: 48%;
}

.productCard img {
  width: 100%;
}

.productCard a {
  text-decoration: none;
  color: black;
}

/*Site Alert START */

.SiteAlert {
  background-color: #111e4f;
  padding: 15px;
}

.alertContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8.5px;
  align-items: center;
  color: #fff;
}

.alertContainer i {
  padding-right: 10px;
  font-size: 12px;
  color: white;
}

.alertContainer a {
  color: white;
  text-decoration: none;
}

/* Opportunities START */
.opportunities h3 {
  color: white;
  text-align: center;
  padding: 10px 25px;
  font-size: 25px;
  background-color: #6f6f6f;
}
/* carrusel */


.carouselContainerOpportunities {/* wrapper */
  position: relative;
  display: flex;
	align-items: center;
	justify-content: center;
}

/* Flechas comienzo */
.carouselContainerOpportunities .arrow {
  color: black;
  top: 50%;
  height: 50px;
  width: 50px; 
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.opportunities i:active{
  transform: translateY(-50%) scale(0.85);
}
.opportunities i:first-child{
  left: 0px;
}
.opportunities i:last-child{
  right: 0px;
}


/* oculta flechas cuando solo hay un producto */
.carouselContainerOpportunities:only-child .arrow {
  display: none;
}



.carouselContainerOpportunities .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 1) - 100px);
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img, .cardTitle, .cardBody, .cardFooter) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card a {/* saca las lineas subrayadas del precio y titulo */
  text-decoration: none;
  color: inherit;
}

.carousel .card {
  
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  width: 320px;
  height: 250px;
  
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  cursor: pointer;
  border-radius: 15px;
  
}

.carousel .cardBody {
  padding: 20px;
  text-align: center;
  
}
.carousel .cardTitle {
  
  text-align: center;
  padding: 10px 10px 0 10px;
}
.carousel .cardBody img {
  width: 50%;
  /* object-fit: cover; */
}
/* efectos img */
.carousel .card:hover img{
	scale:  1.1;
}

.carousel .card:hover {
	box-shadow: 10px 20px 30px #55a4da;
    
}
/* fin efectos */

.carousel .cardFooter button {
 
  display: flex;
  justify-content: center;
  width: 101%;
  white-space: nowrap; /* evita el salto de línea del precio y el descuento */
  max-width: 100%; /* Asegura que el botón no sea más ancho que el 100% de la card*/
  padding: 12px 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 0 0 15px 15px;
  background-color: #243a76;
  color: #fff;
  font-size: 17px;
  transition: all 400ms;
  cursor: pointer;
  margin: 0px ;
    
}

.carousel .cardFooter button:hover {
  background-color: #8a8683;
}


/* encontra el producto */
/*        inicio        */
.bk {
  background-color: #eee;
}

.contenedor {
  display: flex;
  width: 100%;
}

.contenedor-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 50%;
}

.contenedor-3 {
  padding-bottom: 10%;
  padding-top: 10%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.contenedor-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15%;
  height: 60%;
  width: 100%;
}

.contenedor-5 {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.contenedor-6 {
  display: flex;
  justify-content: center;
  padding: 2%, 0%, 2%, 1%;
  text-align: right;
}

.pd-r {
  padding-right: 2%;
}

.p-t {
  margin-top: 3%;
}

.select-1 {
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: -1px;
  margin-right: 0px;
  margin-left: 5%;
}

.select-2 {
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 20px;
}

.enc {
  font-size: 8px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 25%;
  margin-right: 25%;
}
.bl {
  display: block;
  text-align: center;
}

/*        inicio        */
/*        categorias      */

.boxc-1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.boxc-2 {
  display: flex;
  width: 100%;
  height: 25vw;
  padding-top: 1%;
  padding-bottom: 1%;
}
.boxc-3 {
  display: flex;
  width: 100%;
  height: 25vw;
  padding-top: 1%;
  padding-bottom: 1%;
}
.boxc-4 {
  display: flex;
  width: 100%;
  height: 25vw;
  padding-top: 1%;
  padding-bottom: 1%;
}
/* fin categorias */

/* inicio productCard */
.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  width: 46%;
  border: 1px solid white;
  box-shadow: 2px 2px 8px 4px white;
  border-radius: 15px;
}
.cardTitle {
  text-align: center;
  padding: 10px 10px 0 10px;
}
.cardBody {
  text-align: center;
  padding: 10px;
}
.cardBody img {
  width: 50%;
}
.cardFooter button {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 0 0 15px 15px;
  background-color: #111e4f;
  color: #fff;
  font-size: 17px;
  transition: all 400ms;
  cursor: pointer;
}
.card:hover button {
  background-color: #111e4f;
}
.card a {
  text-decoration: none;
  color: black;
}

.allProducts {
  display: flex;
}

.card:hover img {
  scale: 1.1;
}

.card:hover {
  box-shadow: 5px 15px 25px #111e4f;
}
/* fin productCard */

/*        inicio        */
/*        desktop      */
@media (min-width: 1280px) {
  /* encontra el producto */
  /*        inicio        */
  .bk {
    background-color: #185397;
  }
  .contenedor {
    width: 100%;
    height: 400px;
    display: flex;
    border-top: 20px solid #6f6f6f ;
  }

  .contenedor-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .contenedor-3 {
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    
  }

  .contenedor-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15%;
    height: 60%;
    width: 100%;
    
  }

  .contenedor-5 {
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 3px solid black;
  }

  .contenedor-6 {
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 3px solid black;
  }

  .pd-r {
    padding-right: 2%;
  }

  .p-t {
    padding: 1%;
    margin-top: 3%;
  }

  .bl {
    display: block;
    text-align: center;
  }
  .img-r {
    border: 3px solid blue;
  }
  /* encontra el producto */
  /*        final         */
}

/* RESPONSIVE CARRUSEL */
@media screen and (min-width: 600px) {
  .carouselContainerOpportunities .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((120% / 2) );
  
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
}
@media screen and (min-width: 700px) {
  .carouselContainerOpportunities .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) );
  
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
}
  

@media screen and (min-width: 900px) {
  .carouselContainerOpportunities .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
    grid-auto-columns: calc((100% / 2) - 100px);
  }
}


@media screen and (min-width: 1200px) {

  .carouselContainerOpportunities .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
    grid-auto-columns: calc((100% / 3) - 30px);
    }
  
}


@media screen and (min-width: 1250px) {
  .carouselContainerOpportunities .carousel {
    display: grid;
    grid-auto-flow: column;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    gap: 5px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
      grid-auto-columns: calc((100% / 3) - 80px);
    }
  }

@media screen and (min-width: 1600px) {
  .carouselContainerOpportunities .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-auto-columns: calc((100% / 3) - 130px);
  }
}


@media screen and (min-width: 1700px) {
  .carouselContainerOpportunities .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-auto-columns: calc((100% / 4) - 100px);
  }
  
}

/* FIN RESPONSIVE CARRUSEL */