.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: linear-gradient(
    to right,
    #243a76,
    #55a4da
  ); /* PARA HACER GRADUACION DE COLOR DEL PRIMERO AL SEGUNDO */
}

.form-login {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255,0.8);
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
  border-radius: 10px;
  
}

#username{
    margin-bottom: 8px;
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #e68c3a;
    padding: 0 5px;
    font-size: 18px;
    
}

#password{
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #e68c3a;
    padding: 0 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#userImage {
    
  font-size: 50px;
  color: #213e60;
  margin-right: 10px;
  padding-bottom: 15px;
}


.iconLogin {
  font-size: 20px;
  color: #e68c3a;
  margin-right: 10px;
}


#username input::placeholder {
  color: rgba(37, 37, 37, 0.5);
}


#checkboxLogin {
  padding: 5px;
  margin: 5px;
}

#rememberLogin{
    font-size: 15px;
}

#forgotPass {
  font-size: 12px;
  padding: 10px;
}


#buttonLogin {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #e68c3a, #213e60);
  margin-top: 20px;
  padding: 5px 35px 5px 35px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.2 ease;
}

#buttonLogin:active{
    transform: sacale(0.96);
}
.createAccount{
    color: #243a76;
    display: flex;
    justify-content: right;
    font-size: 15px;
    padding: 10px;
}

/*        inicio        */
/*        desktop      */
@media (min-width: 1280px) {
  /* encontra el producto */
  /*        inicio        */
  .bk {
    background-color: #185397;
  }
  .contenedor {
    display: flex;
    border: 3px solid red;
  }

  .contenedor-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .contenedor-3 {
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 3px solid blue;
  }

  .contenedor-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15%;
    height: 60%;
    width: 100%;
    border: 3px solid rgb(43, 255, 0);
  }

  .contenedor-5 {
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 3px solid rgb(255, 0, 191);
  }

  .contenedor-6 {
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 3px solid rgb(0, 0, 0);
  }

  .pd-r {
    padding-right: 2%;
  }

  .p-t {
    padding: 1%;
    margin-top: 3%;
  }

  .bl {
    display: block;
    text-align: center;
  }
  .img-r {
    border: 3px solid blue;
  }
  /* encontra el producto */
  /*        final         */

  /*        footer        */
  /*        inicio        */

  /* Inicio Newsletter */

  .title-nl {
    padding-top: 25px;
    margin-top: 30px;
  }

  .mail-m {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    padding: 7px;
  }

  .button-p {
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 15px;
    padding: 3px;
  }

  /* Final Newsletter */

  /* Inicio Redes  */

  .icons {
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  /* Final Redes  */

  /* Inicio ifo  */

  .box5-1 {
    display: flex;
    justify-content: space-between;
  }

  /* final ifo  */

  /* Inicio afip  */

  .img-qr {
    width: 25%;
  }

  .box6-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .item-1 {
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
    order: 1;
  }

  .copy {
    margin-right: 10px;
    padding-right: 20px;
    color: #eee;
  }
}
