.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: linear-gradient(
    to right,
    #243a76,
    #55a4da
  ); /* PARA HACER GRADUACION DE COLOR DEL PRIMERO AL SEGUNDO */
}

.form-login {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255,0.8);
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
  border-radius: 10px;
  
}

#username{
    margin-bottom: 8px;
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px  #ff8222;
    padding: 0 5px;
    font-size: 18px;
    
}

#password{
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px  #ff8222;
    padding: 0 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#userImage {
    
  font-size: 50px;
  color: #213e60;
  margin-right: 10px;
  padding-bottom: 15px;
}


.iconLogin {
  font-size: 20px;
  color:  #ff8222;
  margin-right: 10px;
}


#username input::placeholder {
  color: rgba(37, 37, 37, 0.5);
}


#checkboxLogin {
  padding: 5px;
  margin: 5px;
}

#rememberLogin{
    font-size: 15px;
}

#forgotPass {
  font-size: 12px;
  padding: 10px;
}


.buttonLogin {
  color: #243a76;
  background-color: transparent;
  margin-top: 20px;
  padding: 5px 35px 5px 35px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  border:   #243a76 2px solid;
  transition: all 500ms;
}

.buttonLogin:hover {
  background: linear-gradient(to right, #ff8222,#243a76, #ff8222);
  color: #fff;
}
.createAccount{
    color: #243a76;
    display: flex;
    justify-content: right;
    font-size: 15px;
    padding: 10px;
}


/* .createProductButton {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: #e68c3a 2px solid;
  margin-top: 20px;
  padding: 10px ;
  font-size: 17px;
  color: #e68c3a;
  cursor: pointer;
  transition: all 400ms;

  
}

.createProductButton:hover {
  background-color:#e68c3a;
  color: #fff;
}
 */

@media (min-width: 1280px) {
  
}
