.nav {
  margin: 10px 5px;
}

.product {
  margin: auto;
  width: 90%;
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
  border: solid 1px red; /* borrar */
}

.details {
  border: solid 1px red; /* borrar */
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.amount {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.amount p {
  width: 100%;
  text-align: left;
}

.cart {
  height: 35px;
  width: 100%;
  background-color: #fff;
}

.desc {
  border: solid 1px red; /* borrar */
  text-align: left;
}

@media (min-width: 1200px) {
  main {
    max-width: 1300px;
  }
  .product {
    display: flex;
    justify-content: space-around;
  }
  .product img {
    margin: 20px;
    width: 300px;
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
  }
}
