
main{
    padding: 10px 15px;
}

.txtAlignR{
    text-align: right;
}

.txtAlignL{
    text-align: left;
}

.mb5{
    margin-bottom: 5px;
}

/* IVA incluido START */
.alertText{
    background-color: #d20202;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}

.alertText p{
    color: #fff;
    padding: 5px 10px;
}

.title{
    text-align: left;
    font-size: 40px;
    margin-bottom: 35px;
    color: #243a76;
}

/* Productos seleccionados START */

.itemsTable{
    width: 100%;
}


/* thead START */


.productName{
    padding-right: 50px;
    text-align: left;
    border-bottom: 1px solid #dadada;
}

.productPrice{
    display: none;
    visibility: hidden;
}

.productQuantity{
    display: none;
    visibility: hidden;
}

.productTotal{
    display: none;
    visibility: hidden;
}

/* tbody START */




.product{
    display: flex;
    margin: 10px 0;
}

.productImage img{
    width: 100px;
    height: 100px;
}

.productTitle{
    margin-top: 0px;
    padding-left: 30px;
}

.productTitle a{
    text-decoration: none;
    color: black;   
}

.price{
    display: block;
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 5px;
}


.quantity{
    display: block;
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
}

.quantity input{
    width: 15px;
    border: none;
    appearance: none;
}


.itemInfo .subtotal{
    display: block;
    width: 32%;
    text-align: center;
    float: left;
    margin-top: 20px;
}


.fa-minus, .fa-plus{
    font-size: 12px;
}

.eraseArticleButton{
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: #55a4da 2px solid;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 17px;
    color: #55a4da;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 400ms;
}


.eraseArticleButton:hover{
background-color: #55a4da;
    color: #fff;
}

.borra{
    display: block;
    border-bottom: 1px solid #dadada;;

}

/* boton vaciar carrito */


.emptyCartButton{
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: #55a4da 2px solid;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 17px;
    color: #55a4da;
    cursor: pointer;
    transition: all 400ms;
}

.emptyCartButton:hover{
    background-color: #55a4da;
    color: #fff;
}

/* cart summary START */

.summaryTable{
    width: 100%;
    border-spacing: 0 10px;
}


.cartSummary{
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 15px;
}

.summaryTitle{
    font-size: 14px;
    color: #777;
    border-bottom: 1px #d1d1d1 solid;
}

.cartSubtotal{
    color: #777;
}   

.shipping h4{
    padding: 10px 0;
    border-top:1px #d1d1d1 solid ;
    border-bottom: 1px #d1d1d1 solid;
    font-size: 14px;
    font-weight: normal;
    color: #777;
}

.shipping p{
    font-size: 11px;
    margin-top: 3px;
}

.shipping a{
    cursor: pointer;
    color: #777;    
}

.cartTotal{
    font-weight: bolder;
}

/* Cupon descuento START */

.discountCouponContainer{
    position: relative;
    border-top: 1px solid #d1d1d1;
}

.discountCouponContainer label{
    display: block;
    padding-top: 4px;
}

.couponInput{
width: 100%;
position: relative;
padding: 7px;
border: none;
margin-top: 10px;
margin-bottom: 30px;
border-radius: 5px;
}

.couponButton{
    position: absolute;
    right: 5px;
    top: 33px;
    padding: 7px;
    border: none;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
}

/* finalizar compra button */

.checkout button{
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #243a76;
    color: #fff;
    font-size: 17px;
    transition: all 400ms;
    cursor: pointer;
}

.checkout button:hover{
    background-color: #55a4da;
}



/* FOOTER START */

.txt-c{
    text-align: center;
}
.b-color{
    background-color: #025f9a;
}

.icon-color{
    color:#ff8222;
}

.bk-color{
    background-color:#243a76 ;
}
/* inicio newsletter */
.title-nl{
    margin-top: 15px;
    color: #eee;
}


.mail-m{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
}
.button-p{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
}

.box1-1{
    display: flex;
    flex-direction: column;
}

.box1-2{
    display: flex;
    
}

.box1-3{
    display: flex;
    
}

.shadow{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);  
}
/* final newsletter */

/* inicio Redes */
.color-wp{
    color: #25D366;
}

.color-fb{
    color:#4267B2 ;
}

.color-ml{
    color: #DB4437;
}

.color-insta{
    color: #C13584;
}

.icons{
    width:100% ;
    text-align: center;
    margin: 10%;
}
.redes-m{
margin-left:5% ;
margin-right: 5%;
}


.box2-1{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom: 3%;
  width: 100%;
}



/* Final Redes */

/* inicio envio full-gratis-atencion cliente */
.box3-1{
    display: flex;
    
}

.icons-margin{
    margin: 4%;
    color:#025f9a;
}
/* final envio full-gratis-atencion cliente */
/* inicio afip img */

.box4-1{
    display: flex;
}

.img-qr{
text-align: center;
   width:25%;
   margin-top: 10px;
}

.shadow2{
    box-shadow: 0px 0px 10px rgb(66, 65, 65);  
}
/* final afip img */





/* Inicio PC */
@media (min-width:1280px){

.cartContainer{
    position: relative;
}

    /* items Table */

.productPrice{
        visibility: visible;
        display: table-cell;
    }
    
    .productQuantity{
        visibility: visible;
        display: table-cell;
    }

    .productTotal{
        visibility: visible;
        display: table-cell;
    }

    .itemsTable{
        width: 76%;
    }

    


    /* cart summary */
    .cartSummaryContainer{
        width: 23%;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .cartSummary{
        margin-top: 0px;
        /* position: fixed; */
    }
/* ahora se mueve antes de llegar a tocar el borde superior de la pantalla pero con 
javascript hacemos que quede en el lugar y comience a usar la funcionalidad fixed al tocar 
el borde superior */



/* Inicio Newsletter */

    .title-nl{
        padding-top: 25px;
        margin-top: 30px;
        
    }

    .mail-m{
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 1%;
        padding: 7px ;
    }

    .button-p{
        margin-left: 45%;
        margin-right: 45%;
        margin-bottom: 15px;
        padding: 3px;
    }

    /* Final Newsletter */

    /* Inicio Redes  */

    .icons{
        width:100% ;
        text-align: center;
        margin: 20px;
    }

/* Final Redes  */

/* Inicio ifo  */

.box5-1{
    display: flex;
    justify-content: space-between;
}

/* final ifo  */

/* Inicio afip  */

.img-qr{
       width:25%;
    }

.box6-1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.item-1{
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
    order: 1;
}

.copy{
    margin-right: 10px;
    padding-right: 20px;
    color:#eee ;
}


}
