.title{
    background-color: #ebebeb;
    text-align: center;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #adadad;
}

.productLavandina{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ebebeb;
}
.productLavandina img{
    width: 35px;
    height: 35px;
    margin: 15px 0px;
}

.productJabonLiquido{
    display: flex;
    justify-content: space-around;
    background-color: #adadad;
}
.productJabonLiquido img{
    width: 35px;
    height: 35px;
    margin: 15px 0px;
}

.productEsponja{
    display: flex;
    justify-content: space-around;
    background-color: #ebebeb;
}
.productEsponja img{
    width: 35px;
    height: 35px;
    margin: 15px 0px;
}

.quantityNumber{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.buttonReset{
    height: 20px;
    margin: 15px 0px;
}