.nav {
  padding: 5px;
  margin: 10px 5px;
  color: white;
  background-color: #243a76;
  display: inline-block;
}

.nav a {
  color: white;
}

.product {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  text-align: center;
  align-items: center;
}

.product img {
  width: 50%;
  padding: 10px;
  height: auto;
  align-self: center;
}

.name {
  background-color: #213e60;
  color: white;
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;    
  
  
}

.prices {
  margin-top: 5px;
}

.notPrice {
  text-decoration: line-through;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.amount {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.amount p {
  width: 100%;
  text-align: left;
}

.cart {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: #55a4da 2px solid;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 17px;
  color: #55a4da;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 400ms;
}

.cart:hover {
  background-color: #55a4da;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.delete,
.edit {
  margin: 0px 5px;
  color: #fff;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.edit {
  background-color: #ffa54a;
}

.delete {
  background-color: red;
}

.desc {
  margin-top: 10px;
  text-align: left;
}

/* stock START */
.stockContainer {
  display: flex;
  align-items: center;
}

.stockButton {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
/* stock END */



/* PRODUCTOS RELACIONADOS */

 .titleRelatedProducts{
  padding: 20px;
  text-align: center;
}
.wrapper {
  position: relative;
  display: flex;
	align-items: center;
	justify-content: center;
}

/* Flechas comienzo */
.wrapper .arrow {
  color: black;
  top: 50%;
  height: 50px;
  width: 50px; 
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.relatedProducts i:active{
  transform: translateY(-50%) scale(0.85);
}
.relatedProducts i:first-child{
  left: 0px;
}
.relatedProducts i:last-child{
  right: 0px;
}


/* oculta flechas cuando solo hay un producto */
.wrapper:only-child .arrow {
  display: none;
}



.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 1) - 100px);
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img, .cardTitle, .cardBody, .cardFooter) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card a {/* saca las lineas subrayadas del precio y titulo */
  text-decoration: none;
  color: inherit;
}

.carousel .card {
  
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  width: 320px;
  height: 250px;
  
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  cursor: pointer;
  border-radius: 15px;
  
}

.carousel .cardBody {
  padding: 20px;
  text-align: center;
  
}
.carousel .cardTitle {
  
  text-align: center;
  padding: 10px 10px 0 10px;
}
.carousel .cardBody img {
  width: 50%;
  /* object-fit: cover; */
}
/* efectos img */
.carousel .card:hover img{
	scale:  1.1;
}

.carousel .card:hover {
	box-shadow: 10px 20px 30px #55a4da;
    
}
/* fin efectos */

.carousel .cardFooter button {
 
  display: flex;
  justify-content: center;
  width: 101%;
  white-space: nowrap; /* evita el salto de línea del precio y el descuento */
  max-width: 100%; /* Asegura que el botón no sea más ancho que el 100% */
  padding: 12px 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 0 0 15px 15px;
  background-color: #243a76;
  color: #fff;
  font-size: 17px;
  transition: all 400ms;
  cursor: pointer;
  margin: 0px ;
    
}

.carousel .cardFooter button:hover {
  background-color: #8a8683;
}


@media screen and (min-width: 600px) {
  .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((120% / 2) );
  
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
}
@media screen and (min-width: 700px) {
  .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) );
  
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
}
  

@media screen and (min-width: 900px) {
  .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
    grid-auto-columns: calc((100% / 2) - 100px);
  }
}


@media screen and (min-width: 1200px) {

  .product {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: normal;
    justify-content: space-around;
  }
  .product img {
    margin: 20px;
    width: 300px;
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    
  }
  
  .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
    grid-auto-columns: calc((100% / 3) - 30px);
    }
  
}


@media screen and (min-width: 1250px) {
  .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    gap: 5px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
      grid-auto-columns: calc((100% / 3) - 80px);
    }
  }

@media screen and (min-width: 1600px) {
  .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-auto-columns: calc((100% / 3) - 130px);
  }
}


@media screen and (min-width: 1700px) {
  .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-auto-columns: calc((100% / 4) - 100px);
  }
  
}


