* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Tamaño de fuente*/

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}
