<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Contacto'}) %>
  </head>
  <body>
    <%- include('../partials/header') %> 

    <main>Soy la pagina contacto!</main>

    <%- include("../partials/footer") %>
  </body>
</html>
