<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Sobre nosotros'}) %>
    <link rel="stylesheet" href="/css/nosotros.css" />
  </head>
  <body>
    <% if (locals.userLogged && userLogged.mayorista != null) { %>
     <%- include("../partials/headerMayorista") %>
    <% } else { %>
    <%- include('../partials/header') %>
    <% } %>
    <main>
      <div class="nosotros-container">
        <h1 class="marcaTitulo">
          ¡Bienvenidos!</h1>
        <div class="titulos">
          <h3>Sobre Nosotros</h1>
        </div>

        <section class="descripcion">
          <p>
  Somos Clean Wave, tu socio confiable en la provisión de productos de limpieza de la más alta calidad.
</p>
<p>
  Desde nuestros modestos comienzos en 1995, nos hemos dedicado incansablemente a ofrecer un servicio de excelente calidad para satisfacer las diversas necesidades de nuestros valiosos clientes. En estos más de 25 años de trayectoria, hemos crecido y evolucionado, pero nuestra pasión por la limpieza y el compromiso con la satisfacción del cliente han permanecido constantes.
</p>
<p>
  Nuestra dedicación a la excelencia nos impulsa a superar constantemente las expectativas de nuestros clientes. Ya sea sirviendo a consumidores finales que buscan mantener sus hogares impecables o colaborando estrechamente con mercados mayoristas que confían en nosotros para abastecer sus negocios, nos enorgullece ser el socio confiable que cumple con los más altos estándares de calidad.
</p>

        </section>

        <section class="segmento-objetivo">
          <div class="titulos">
            <h3>Clientes</h2>
          </div>
          <p>En Clean Wave, nos enorgullece contar con una amplia diversidad de clientes que abarcan diferentes segmentos y necesidades. Estamos comprometidos en brindar soluciones de limpieza de alta calidad para satisfacer las demandas de diversos perfiles de clientes. Nuestros clientes incluyen:</p>
          <p>- Personas responsables de las compras y el mantenimiento del hogar. Entendemos la importancia de mantener un ambiente limpio y saludable para las familias.</p>
          <p>- Colaboramos estrechamente con empresas mayoristas, supermercados y mercados de barrio. Proporcionamos productos a granel y soluciones personalizadas para satisfacer sus necesidades comerciales.</p>
        </section>

        <section class="precios">
          <div class="titulos">
            <h3>Precios Diferenciados</h2>
          </div>
          <p>
            Ofrecemos precios diferentes en base a la cantidad de productos
            adquiridos
          </p>
          <p>Contamos con el servicio diferencial para empresas mayoristas y para consumidores finales podemos ofrecerles diversas ofertas, ¡te invitamos a conocernos!</p>
        </section>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
