<footer>
    <section class="bk-color shadow">
        <h2 class="txt-c title-nl"> Suscribite a nuestro newsletter</h2>
        <div class="box1-1">
            <input class="box1-2 i-mail" type="email" name="email" placeholder="Ingresa tu Mail" />
            <button class="button" type="submit">Suscribirme</button>
        </div>
    </section>
   
    <section class="box2-1">
        <div class="icons" >
            <a class="redes-m" href="#"><i class="fa-brands fa-instagram fa-2xl color-insta"></i></a>
            <a class="redes-m" href="#"><i class="fa-regular fa-envelope fa-2xl color-ml"></i></a>
            <a class="redes-m" href="#"><i class="fa-brands fa-whatsapp fa-2xl color-wp"></i></a>
            <a class="redes-m" href="#"><i class="fa-brands fa-square-facebook fa-2xl color-fb"></i></a>
        </div>
   
    </section>



    <section class="box5-1">
        <div class="icons-margin">
            <div class="txt-c icon-2"> 
                <i class="fa-regular fa-credit-card fa-2xl icons-margin iconos-color"></i>
            </div>
            <h4 class="txt-c">Envios gratis a partir de $10.000</h4>
            <p class="txt-c">
                Con compras de 10,000 pesos o más, nuestros envíos son gratuitos, 
                brindándote un valor adicional por elegirnos como tu distribuidor.
            </p>
        </div>
        <div class="icons-margin">
            <div class="txt-c icon-2">
                <i class="fa-solid fa-truck-fast fa-2xl icons-margin"></i>
            </div>
            <h4 class="txt-c">Envio en 24hs</h4>
            <p class="txt-c">
                Nuestros envíos, en solo 24 horas, aseguran que tus productos lleguen 
                rápido y en perfecto estado a tu puerta.
            </p>
        </div>
        <div class="icons-margin">
            <div class="txt-c icon-2">
                <i class="fa-solid fa-headset fa-2xl icons-margin"></i>
            </div>
            <h4 class="txt-c">Atencion al cliente</h4>
            <p class="txt-c">
                Atención al cliente inigualable: Estamos aquí para servirte con 
                soluciones rápidas y amigables en cada paso de tu experiencia de compra.
            </p>
        </div>
    </section>
    <section class="bk-color box6-1 shadow2">
        <div class="txt-c ">
            <img class="img-qr item-1" src="/img/qr-afip.jpg" alt="qr-afip">
        </div>
        <p class="copy">Copyright © 2023 Clean Wave S.R.L.</p>
    </section>
</footer>