<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainBanner.css" />
    <script src="/js/mainBanner.js" defer></script>


    <title></title>
</head>
<body>
    
    <div class="bannerContainer">
        <div class="banner" id="banner"> 
            <div class="bannerSection">
                <img src="/img/banner-cif.JPG" alt="" class="bannerImg">
            </div>
            <div class="bannerSection">
                <img src="/img/banner-elite.jpg" alt="" class="bannerImg">
            </div>
            <div class="bannerSection">
                <img src="/img/banner-lavandinas.jpg" alt="" class="bannerImg">
            </div>
            <div class="bannerSection">
                <img src="/img/banner-skip.jpg" alt="" class="bannerImg">
            </div>
        </div>
        <button class="leftArrow" id="btnLeft"><i class="fa-solid fa-chevron-left" ></i></button>
        <button class="rightArrow" id="btnRight"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
</body>

</html>


