<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <div>
            <ul>
                <img src="/img/foto1.png" alt="Imagen 1">
                <img src="/img/foto2.png" alt="Imagen 2">
                <img src="/img/foto3.png" alt="Imagen 3">
                <img src="/img/foto4.png" alt="Imagen 4">
            </ul>
            <nav>
                <i class="fa-solid fa-chevron-left"></i>
                <ul>
                    <li><i class="fa-regular fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                </ul>
                <i class="fa-solid fa-chevron-right"></i>
            </nav>
        </div>
        <div>
            <img src="/img/padreEHijaLimpiando.png">
            <h2>Beneficios al consumidor final</h2>
            <ol>
                <li></li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ol>
        </div>
        <section>
            <h3>Nos acompañan</h3>
            <div>
                <img src="/img/foto1.png" alt="Imagen 1">
                <img src="/img/foto2.png" alt="Imagen 2">
                <img src="/img/foto3.png" alt="Imagen 3">
                <img src="/img/foto4.png" alt="Imagen 4">
            </div>
            <nav>
                <i class="fa-solid fa-chevron-left"></i>
                <i class="fa-solid fa-chevron-right"></i>
            </nav>
        </section>
        <section>
            <h3>Lo mas vendido</h3>
            <article>
                <img src="/img/foto2.png">
                <p>Descripcion del producto</p>
            </article>
            <article>
                <img src="/img/foto3.png">
                <p>Descripcion del producto</p>
            </article>
        </section>
            <p><i class="fa-solid fa-triangle-exclamation"></i>Estas visualizando los precios para consumidor final. Si sos mayorista, hacé click áca</p>
        <section>
            <h3>Mega Oportunidades</h3>
            <article>
                <img src="/img/foto3.png">
                <p>Descripcion del producto</p>
            </article>
            <article>
                <img src="/img/foto2.png">
                <p>Descripcion del producto</p>
            </article>
        </section>
         <section>
            <img src="/img/foto4.png">
            <h2>Encontrá el producto perfecto</h2>
            <h3>Decinos qué necesitas limpiar y te ayudamos a resolverlo</h3>
            <form>
                <h2>Necesito</h2>
                <select name="action">
                    <option value="" disabled selected>(acción)</option>
                    <option value="blanquear">blanquear</option>
                    <option value="desodorizar">desodorizar</option>
                    <option value="eliminarElMoho">eliminar el moho</option>
                    <option value="higienizar">higienizar</option>
                    <option value="desinfectar">desinfectar</option>
                    <option value="quitarLaMancha">quitar la mancha</option>
                    <option value="lavar">lavar</option>
                </select>
                <h2>Mi</h2>
                <select name="spot">
                    <option value="" disabled selected>(ubicación)</option>
                    <option value="baño">baño</option>
                    <option value="cocina">cocina</option>
                    <option value="espacioExterior">espacio exterior</option>
                    <option value="ropa">ropa</option>
                </select>
            </form>
            <button type="submit" name="findProduct">encontrar mi producto</button>
        </section>
        <section>
            <article>
                <h3>nombre categoria 1</h3>
                <img src="/img/foto1.png">
            </article>
            <article>
                <h3>nombre categoria 2</h3>
                <img src="/img/foto2.png">
            </article>
            <article>
                <h3>nombre categoria 3</h3>
                <img src="/img/foto3.png">
            </article>
        </section>
       
    </main>



    <footer></footer>
</body>
</html>