<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login</title>
</head>
<body>
    <section class="form-login">
    <div>   
        <h3>Logo User</h3>
            <p>
                <input type="text" name="user" value="" placeholder="Usuario">
            </p>
            <p>
                <input type="password" name="password" value="" placeholder="Constraseña">
            </p>
            <p>
                <input type="button" name="login" value="Ingresar">
            </p>
            <p>
                <a href="create account">Crear Cuenta</a>
            </p>
            <p><input type="checkbox" name="remember me" id=""> recordame <a href="forgot-password">olvidaste tu contraseña?</a></p>
    </div> 
    </section>
</body>
</html>