<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section class="form-login">
    <div>   
        <h3>Login</h3>
            <p>
                <input type="text" name="user" value="" placeholder="Usuario">
            </p>
            <p>
                <input type="password" name="password" value="" placeholder="Constraseña">
            </p>

    </div> 
    </section>
    
</body>
</html>