<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header></header>
    
    <main>
        <h1>Mi Carrito</h1>
        <section class="productsSelection">
            <article class="productLavandina">
                <img src="/css/img/foto1.png" alt="foto producto 1">
                <p class="productName">Lavandina</p>
                <p class="price">$500</p>
                <nav>
                    <i class="fa-solid fa-circle-minus"></i>
                    <p class="quantityNumber">01</p>
                    <i class="fa-solid fa-circle-plus"></i>
                </nav>
                <button type></button>
            </article>
            <article class="productJabonLiquido">
                <img src="/css/img/foto2.png" alt="foto producto 2">
                <p class="productName">Jabon liquido</p>
                <p class="price">$1000</p>
                <nav>
                    <i class="fa-solid fa-circle-minus"></i>
                    <p class="quantityNumber">02</p>
                    <i class="fa-solid fa-circle-plus"></i>
                </nav>
            </article>
            <article class="productEsponja">
                <img src="/css/img/foto3.png" alt="foto producto 3">
                <p class="productName">Esponka</p>
                <p class="price">$1500</p>
                <nav>
                    <i class="fa-solid fa-circle-minus"></i>
                    <p class="quantityNumber">03</p>
                    <i class="fa-solid fa-circle-plus"></i>
                </nav>
            </article>
        </section>
        <section class="priceCalculator">
            <article>
                <p class="subtotal">Subtotal</p>
                <p class="subtotalPrice">10</p>
            </article>
            <article>
                <p class="shipping">Envio</p>
                <p class="shippingPrice">5</p>
            </article>
            <article>
                <p class="total">Total</p>
                <p class="totalPrice">15</p>
            </article>
        </section>
        <button type="submit">Realizar compra</button>
    </main>



    <footer></footer>    
</body>
</html>
