<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Detalle de producto</title>
  </head>
  <body>
    <main>
      <div class="nav">
        <a href="#">Home</a>
        <span>/</span>
        <a href="#">Productos</a>
        <span>/</span>
        <a href="#">Nombre de producto</a>
      </div>
      <section class="product">
        <div>
          <img src="/img/foto1.png" alt="producto" />
        </div>
        <div class="data">
          <div class="details">
            <h2>Nombre del producto</h2>
            <h3>$XXXX.XX</h3>
            <form action="">
              <div class="amount">
                <p>stock disponible</p>
                <h4>Cantidad:</h4>
                <select name="cantidad" id="cantidad">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <a href="#"
                ><button type="submit" class="cart">
                  Agregar al carrito (icono)
                </button></a
              >
            </form>
          </div>
          <div class="desc">
            <h3>Descripcion</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              fuga nesciunt necessitatibus, impedit voluptatem ex quod vitae
              illum, asperiores eius molestias nemo itaque architecto facere?
              Iure neque distinctio illum vero? Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Quaerat minima ducimus fugiat quos,
              quasi libero ullam architecto porro suscipit veritatis ipsam sunt,
              eum accusamus quo illo. Architecto libero in mollitia! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Pariatur, minus
              officiis? Minus ex itaque atque nihil sapiente consequuntur vitae,
              fuga totam dolorem, praesentium soluta, incidunt in dolorum
              aliquam odit consectetur?
            </p>
          </div>
        </div>
      </section>
      <section>
        <h3>Productos relacionados</h3>
      <div class ="otherProducts">
         <i class="fa-solid fa-circle-arrow-left"></i>
         <!-- TARJETA -->
         <div class="tarjeta" id="card1">
           <h4 class="titulo">Una tarjeta básica</h4>
           <div class="cuerpo">
              <img src="\img\foto1.png" alt="imagen">
           </div>
           <div class="pie">
                 <a href="#">Más información</a>
           </div>
         </div>
         <!-- TARJETA -->
        
         <!-- TARJETA -->
         <div class="tarjeta" id="card2">
           <h4 class="titulo">Una tarjeta básica</h4>
           <div class="cuerpo">
              <img src="\img\foto1.png" alt="imagen">
           </div>
           <div class="pie">
                 <a href="#">Más información</a>
           </div>
         </div>
         <!-- TARJETA -->
        
         <!-- TARJETA -->
         <div class="tarjeta" id="card3">
           <h4 class="titulo">Una tarjeta básica</h4>
           <div class="cuerpo">
              <img src="\img\foto1.png" alt="imagen">
           </div>
           <div class="pie">
                 <a href="#">Más información</a>
           </div>
         </div>
         <!-- TARJETA -->
        
         <!-- TARJETA -->
         <div class="tarjeta" id="card4">
           <h4 class="titulo">Una tarjeta básica</h4>
           <div class="cuerpo">
              <img src="\img\foto1.png" alt="imagen">
           </div>
           <div class="pie">
                 <a href="#">Más información</a>
           </div>
          </div>
         <!-- TARJETA -->
        
        <i class="fa-solid fa-circle-arrow-right"></i>
      </div>
      </section>
    </main>
  </body>
</html>
