<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Detalle de producto</title>
  </head>
  <body>
    <div>
      <a href="#">Home</a>
      <a href="#">Productos</a>
      <a href="#">Nombre de producto</a>
    </div>
    <section>
      <img src="/img/producto.png" alt="producto" />
      <div>
        <h2>Nombre del producto</h2>
        <h3>$XXXX.XX</h3>
        <p>stock disponible</p>
        <h4>Cantidad:</h4>
        <select name="cantidad" id="cantidad">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <a href="#"><button>Agregar al carrito (icono)</button></a>
      </div>
      <div>
        <h3>Descripcion</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat fuga
          nesciunt necessitatibus, impedit voluptatem ex quod vitae illum,
          asperiores eius molestias nemo itaque architecto facere? Iure neque
          distinctio illum vero?
        </p>
      </div>
    </section>
    <section>
      <h3>
        Productos relacionados
      </h3>
      <p>agregar flechita</p>
      <div>
        <img src="/img/prducto_relacionado.png" alt="producto1">
        <h5>
          nombre de producto
        </h5>
      </div>
      <div>
        <img src="/img/prducto_relacionado2.png" alt="producto2">
        <h5>
          nombre de producto2
        </h5>
      </div>
      <div>
        <img src="/img/prducto_relacionado3.png" alt="producto3">
        <h5>
          nombre de producto3
        </h5>
      </div>
      <div>
        <img src="/img/prducto_relacionado4.png" alt="producto4">
        <h5>
          nombre de producto4
        </h5>
      </div>
      <p>agregar flechita</p>

    </section>
  </body>
</html>
