<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <title>Carrito</title>
  </head>
  <body>
    <header>
      <div class="topLeftHeader">
        <p>Estas en TIENDA CONSUMIDOR FINAL</p>
        <a href="#"><button>Cambiar a TIENDA MAYORISTA</button></a>
      </div>
      <div class="navMobile">
        <div class="navRightMobile">
          <input
            type="text"
            placeholder="¿Qué Estás Buscando?"
            class="searchBar"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="noDesk">
          <i class="fa-solid fa-bars"></i>
          <img src="/img/logo.png" alt="logo" />
        </div>
      </div>
      <div class="menuMobile">
        <nav class="topRightHeader">
          <ul class="bottomRightNav">
            <li>
              <a href="/login">Iniciar sesión</a>
            </li>
            <li>
              <a href="/register">Crear una cuenta</a>
            </li>
          </ul>
        </nav>
        <nav class="navList">
          <ul class="bottomLeftNav">
            <li>
              <a href="/products">Productos</a>
              <ul>
                <li>
                  <a href="#">Categoria 1</a>
                  <ul>
                    <li><a href="#">Subcategoria 1</a></li>
                    <li><a href="#">Subcategoria 2</a></li>
                    <li><a href="#">Subcategoria 3</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Categoria 2</a>
                  <ul>
                    <li><a href="#">Subcategoria 1</a></li>
                    <li><a href="#">Subcategoria 2</a></li>
                    <li><a href="#">Subcategoria 3</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Categoria 3</a>
                  <ul>
                    <li><a href="#">Subcategoria 1</a></li>
                    <li><a href="#">Subcategoria 2</a></li>
                    <li><a href="#">Subcategoria 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            </li>

            <li>
              <a href="#">Tutoriales</a>
              <ul>
                <li><a href="#">Tutorial 1</a></li>
                <li><a href="#">Tutorial 2</a></li>
                <li><a href="#">Tutorial 3</a></li>
              </ul>
            </li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="alertText">
          <p>Todos los precios son finales, incluyen IVA</p>
      </div>
      <h1 class="title">Carrito de compras</h1>
      <div class="cartContainer">
        <table class="itemsTable">
            <thead>
                <tr>
                <th class="productName">Producto</th>
                <th class="productPrice">Precio</th>
                <th class="productQuantity">Cantidad</th>
                <th class="productTotal">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="itemInfo">
                <td class="product">
                    <span class="productImage"><a href="/products/productDetail"><img src="/img/foto1.png"></a></span>
                    <h4 class="productTitle"><a href="/products/productDetail">Lavandina</a></h4> 
                </td>
                <td class="price">
                    <div class="mb5">Precio:</div>
                    <div>$500</div>
                </td>
                <td class="quantity">
                    <div class="mb5">Cantidad:</div>
                    <span><i class="fa-solid fa-minus"></i></span>
                    <input type="text" name="itemQuantity" placeholder="00">
                    <span><i class="fa-solid fa-plus"></i></span>
                
                </td>
                <td class="subtotal">
                    <div class="mb5">Subtotal:</div>
                    <div>$500</div>
                </td>
                <td class="borra">
                    <button class="eraseArticleButton" type="submit">Eliminar artículo</button>
                </td>
                </tr>
            </tbody>
        </table>
        <div class="emptyCartButtonContainer">
            <button class="emptyCartButton" name="emptyCart" type="submit">Vaciar carrito</button>
        </div>
        <div class="cartSummaryContainer">
          <section class="cartSummary">
            <h3 class="summaryTitle">Tu pedido</h3>
            <table class="summaryTable">
                <tbody>
                  <tr class="cartSubtotal">
                    <td class="txtAlignL">Subtotal</td>
                    <td class="txtAlignR">$1.000</td>
                  </tr>
                  <tr class="shipping">
                    <td colspan="2">
                      <h4>Envío</p>
                      <p>Ingresá tu dirección para ver las opciones de envío. <a href="#">Calcular envío</a></p>
                    </td>
                  </tr>
                  <tr class="cartTotal">
                    <td class="txtAlignL">Total</td>
                    <td class="txtAlignR">$1.500</td>
                  </tr>
                </tbody>
            </table>
            <div class="discountCouponContainer">
              <label for="couponCode">¿Tenes un cupón de descuento?</label>
              <input class="couponInput" type="text" name="couponCode" id="couponCode" placeholder="Ingresar Cupón">
              <button type="submit" class="couponButton" name="applyCoupon">APLICAR</button>
            </div>
            <div class="checkout">
              <button type="submit" name="checkout">Finalizar compra</button>
            </div>
          </section>
        </div>
    </div>
  </main>

    <footer>
      <section class="bk-color shadow">
        <h2 class="txt-c title-nl">Suscribite a nuestro newsletter</h2>

        <div class="box1-1">
          <input
            class="box1-2 mail-m"
            type="email"
            name="email"
            placeholder="Ingresa tu Mail"
          />

          <button class="button-p" type="submit">Suscribirme</button>
        </div>
      </section>

      <h3 class="txt-c">Seguinos!</h3>
      <section class="box2-1">
        <div class="icons">
          <a class="redes-m" href="#"
            ><i class="fa-brands fa-instagram fa-2xl color-insta"></i
          ></a>

          <a class="redes-m" href="#"
            ><i class="fa-regular fa-envelope fa-2xl color-ml"></i
          ></a>

          <a class="redes-m" href="#"
            ><i class="fa-brands fa-whatsapp fa-2xl color-wp"></i
          ></a>

          <a class="redes-m" href="#"
            ><i class="fa-brands fa-square-facebook fa-2xl color-fb"></i
          ></a>
        </div>
      </section>

      <section class="box5-1">
        <div class="icons-margin">
          <div class="txt-c icon-color">
            <i
              class="fa-regular fa-credit-card fa-2xl icons-margin iconos-color"
            ></i>
          </div>

          <h4 class="txt-c">Envios gratis a partir de $10.000</h4>
          <p class="txt-c">
            Con compras de 10,000 pesos o más, nuestros envíos son gratuitos,
            brindándote un valor adicional por elegirnos como tu distribuidor.
          </p>
        </div>

        <div class="icons-margin">
          <div class="txt-c icon-color">
            <i class="fa-solid fa-truck-fast fa-2xl icons-margin"></i>
          </div>

          <h4 class="txt-c">Envio en 24hs</h4>
          <p class="txt-c">
            Nuestros envíos, en solo 24 horas, aseguran que tus productos
            lleguen rápido y en perfecto estado a tu puerta.
          </p>
        </div>

        <div class="icons-margin">
          <div class="txt-c icon-color">
            <i class="fa-solid fa-headset fa-2xl icons-margin"></i>
          </div>
          <h4 class="txt-c">Atencion al cliente</h4>
          <p class="txt-c">
            Atención al cliente inigualable: Estamos aquí para servirte con
            soluciones rápidas y amigables en cada paso de tu experiencia de
            compra.
          </p>
        </div>
      </section>

      <section class="bk-color box6-1 shadow2">
        <div class="txt-c">
          <img class="img-qr item-1" src="/img/qr-afip.jpg" alt="qr-afip" />
        </div>

        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
    </body>
    </html>
          
  
