    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/productCart.css">
        <title>Carrito</title>
    </head>
    <body>
        <header></header>
        
        <main>
            <div class="alertText">
                <p>Todos los precios son finales, incluyen IVA</p>
            </div>
            <h1 class="title">Carrito de compras</h1>
            <table>
                <thead class="asd">
                    <tr>
                    <th class="productName">Producto</th>
                    <th class="productPrice">Precio</th>
                    <th class="productQuantity">Cantidad</th>
                    <th class="productTotal">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="itemInfo">
                    <td class="product">
                        <span class="productImage"><a href="productDetail"><img src="/img/foto1.png"></a></span>
                        <h4 class="productTitle"><a href="productDetail">Lavandina</a></h4> 
                    </td>
                    <td class="price">
                        <div class="mb5">Precio:</div>
                        <div>$500</div>
                    </td>
                    <td class="quantity">
                        <div class="mb5">Cantidad:</div>
                        <span><i class="fa-solid fa-minus"></i></span>
                        <input type="text" name="itemQuantity" placeholder="00">
                        <span><i class="fa-solid fa-plus"></i></span>
                    
                    </td>
                    <td class="subtotal">
                        <div class="mb5">Subtotal:</div>
                        <div>$500</div>
                    </td>
                    <td class="borra">
                        <button class="eraseArticleButton" type="submit">Eliminar artículo</button>
                    </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="emptyCart" type="submit">Vaciar carrito</button>
            </div>
        </main>



        <footer></footer>    
    </body>
    </html>
