<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Crear Cuenta de Cliente
    </h2>
    
    
    <h3>
        Informacion Personal
    </h3>

    
    <form action="registro.html" method="POST"></form>
    
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre">
    <label for="apellido">apellido:</label>
    <input type="text" name="apellido" id="apellido">
    <label for="Cuit/Dni">Cuit/Dni:</label>
    <input type="number" name="Cuit/Dni" id="Cuit/Dni">

    <h3>
        Informacion de Inicio de sesion
    </h3>

    <form action="registro.html" method="POST"></form>
    
    
  
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <label for="Contraseña">Contraseña:</label>
    <input type="Contraseña" name="Contraseña" id="Contraseña">
    <label for="Confirmar Contraseña">Confirmar Contraseña:</label> 
    <input type="Confirmar Contraseña" name="Confirmar Contraseña" id="Confirmar Contraseña">
    





    

    



</body>
</html>

