.lastProduct h2 {
  width: 25%;
  text-align: center;
  margin: auto;
  color: #9e9ea4;
}

.lastUser h2 {
  width: 25%;
  text-align: center;
  margin: auto;
  color: #9e9ea4;
}

.lastProduct p {
  color: #9e9ea4;
}

.lastUser p {
  color: #9e9ea4;
}

.lastProduct {
  border: 2px solid #9e9ea4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px;
  background-color: #1d2634;
  line-height: 15px;
  width: 50%;
}

.lastUser {
  border: 2px solid #9e9ea4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px;
  background-color: #1d2634;
  line-height: 15px;
  width: 50%;
}

.column {
  display: flex;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 10px;
}

.price {
  width: 50%;
}

.column p {
  margin-top: 0%;
}

.stock {
  margin-top: 0%;
}
