    <header>
      <div class="topLeftHeader">
        <div class="textoTienda">
          <p>TIENDA CONSUMIDOR FINAL</p>
        </div>
        <div class="tiendaMayoristaDiv">
          <a href="/mayorista"><button class="tiendaButton">Cambiar a TIENDA MAYORISTA</button></a>
        </div>
      </div>
      <div class="navMobile">
        <div class="navRightMobile">
          <input
            type="text"
            placeholder="¿Qué Estás Buscando?"
            class="searchBar"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
          <a href="/products/productCart" class="iconCart">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </div>
        <div class="noDesk">
          <i class="fa-solid fa-bars"></i>
          <a href="/cf"><img src="\img\logo.png" alt="logo" /></a>
        </div>
      </div>
      <div class="menuMobile">
        <nav class="topRightHeader">
          <ul class="bottomRightNav">
            <li>
              <a href="/users/login">Iniciar sesión</a>
            </li>
            <li>
              <a href="/users/register">Crear una cuenta</a>
            </li>
          </ul>
        </nav>
        <nav class="navList">
          <ul class="bottomLeftNav">
            <li>
              <a href="/products/productList">Productos</a>
              <ul>
                <li>
                  <a href="#">Categoria 1</a>
                  <ul>
                    <li><a href="#">Subcategoria 1</a></li>
                    <li><a href="#">Subcategoria 2</a></li>
                    <li><a href="#">Subcategoria 3</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Categoria 2</a>
                  <ul>
                    <li><a href="#">Subcategoria 1</a></li>
                    <li><a href="#">Subcategoria 2</a></li>
                    <li><a href="#">Subcategoria 3</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Categoria 3</a>
                  <ul>
                    <li><a href="#">Subcategoria 1</a></li>
                    <li><a href="#">Subcategoria 2</a></li>
                    <li><a href="#">Subcategoria 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            </li>
            <li>
              <a href="/tutorials">Tutoriales</a>
              <ul>
                <li><a href="#">Tutorial 1</a></li>
                <li><a href="#">Tutorial 2</a></li>
                <li><a href="#">Tutorial 3</a></li>
              </ul>
            </li>
            <li><a href="/about/nosotros">Nosotros</a></li>
            <li><a href="/about/contacto">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>