<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: 'Tutoriales'}) %>
  </head>
  <body>
    <%- include('../partials/headerCf') %>

    <main>Soy la pagina de TUTORIALES</main>

    <%- include("../partials/footer") %>
  </body>
</html>
