<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Tutorial 1'}) %>
  </head>
  <body>
    <% if (locals.userLogged.category == 'consumidorFinal' ||
    locals.userLogged.category == 'admin') { %> <%-
    include('../partials/headerCf') %> <% } else if (locals.userLogged.category
    == 'mayorista' || locals.userLogged.category == 'admin') { %> <%-
    include('../partials/headerMayorista') %> <% } %>

    <main>Soy la pagina tutorial 1!</main>

    <%- include("../partials/footer") %>
  </body>
</html>
