<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Sobre nosotros'}) %>
  </head>
  <body>
    <%- include('../partials/headerCf') %>

    <main>Soy la pagina nosotros!</main>

    <%- include("../partials/footer") %>
  </body>
</html>
