.div-newAddress {
  padding: 30px;
  background-color: whitesmoke;
}
.form-newAddress {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: white;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  font-family: "Arial";
  color: white;
  box-shadow: 7px 13px 37px #afadad;
  text-align: center;
  align-items: center;
}

.form-newAddress h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #111e4f;
}

/* Div contenedor de input y label (con animaciones) START */
.inputGroup {
  position: relative;
  width: 100%;
}

.inputGroupInput {
  font: inherit;
  color: #111e4f;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: 2px solid #111e4f;
  background-color: transparent;
  transition: outline-color 500ms;
  width: 100%;
  margin-bottom: 28px;
  font-size: 14px;
}

.inputGroupLabel {
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #111e4f;
  transition: translate 500ms, scale 500ms;
}

.inputGroupInput:focus + .inputGroupLabel,
.inputGroupInput:valid + .inputGroupLabel {
  padding-inline: 5px;
  translate: 10px -10px;
  scale: 0.8;
  background-color: white;
}
/* Div contenedor de input y label (con animaciones) END */

/* textarea START */

#note {
  background-color: transparent;
  color: #111e4f;
  border: none;
  border-radius: 4px;
  outline: 2px solid #111e4f;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  padding: 5px 10px;
}

/* textarea END */

.p-newAddress {
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #111e4f;
  font-size: 20px;
  font-family: "Arial";
}

.createAddressButton {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: #111e4f 2px solid;
  margin-top: 20px;
  padding: 10px;
  font-size: 17px;
  color: #111e4f;
  cursor: pointer;
  transition: all 400ms;
}

.createAddressButton:hover {
  background-color: #111e4f;
  color: #fff;
}

/* validaciones START */

.errorMessage {
  display: none;
  color: red;
}

.display {
  display: block;
}
/* validaciones END */

@media (min-width: 560px) {
  .form-newAddress {
    width: 85%;
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .side {
    display: flex;
    justify-content: space-between;
  }

  .country {
    flex-basis: 160%;
    padding-right: 10px;
  }

  .inputNumber {
    flex-basis: 48%;
  }

  .createAddressButton {
    width: 25%;
  }
}
