/*        inicio        */
/*        footer      */
*{
  font-family: Arial, Helvetica, sans-serif;

}
.txt-c {
  text-align: center;
  padding: 5px;
}
.b-color {
  background-color: #111e4f;
}

.icon-color {
  color: #ff8222;
}

.bk-color {
  background-color: #111e4f;
}
/* inicio newsletter */
.title-nl {
  padding-top: 25px;
  color: #eee;
}

.i-mail{
  background-color: transparent;
  border-radius: 8px;
  border: solid 1px white;
  padding: 2px;
  width: 400px;
  margin-top:10px ;
  margin-bottom:10px ;
  align-items: center ;
  color: white;
  
}

.button {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: white 1px solid;
  padding: 5px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  transition: all 400ms;
  width: 20%;
  margin-bottom: 8px;
}

.button:hover {
  background-color: #243a76;
  color: #fff;
}
.box1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1-2 {
  display: flex;
}

.box1-3 {
  display: flex;
}

.shadow {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
/* final newsletter */

/* inicio Redes */
.color-wp {
  color: #25d366;
}

.color-fb {
  color: #4267b2;
}

.color-ml {
  color: #db4437;
}

.color-insta {
  color: #c13584;
}

.icons {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
.redes-m {
  margin-left: 5%;
  margin-right: 5%;
}

.box2-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: whitesmoke;
}

/* Final Redes */

.seg {
  padding-top: 5px;
}
.icon-2 {
  margin: 5%;
}
/* inicio envio full-gratis-atencion cliente */
.box3-1 {
  display: flex;
}

.icons-margin {
  padding: 4%;
  color: #111e4f;
  background-color: whitesmoke;
}
/* final envio full-gratis-atencion cliente */
/* inicio afip img */

.box4-1 {
  display: flex;
}

.img-qr {
  text-align: center;
  width: 25%;
  margin-top: 10px;
}

.shadow2 {
  box-shadow: 0px 0px 10px rgb(66, 65, 65);
}
/* final afip img */

/*        inicio        */
/*        desktop      */
@media (min-width: 1280px) {
  /* Inicio Newsletter */

  .title-nl {
    padding-top: 20px;
    padding-bottom:15px ;
  }

  .mail-m {
    margin-top: 15px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
    padding: 7px;
  }

  .button-p {
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 15px;
    padding: 3px;
  }

  /* Final Newsletter */

  /* Inicio Redes  */

  .icons {
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  /* Final Redes  */

  /* Inicio ifo  */

  .box5-1 {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  /* final ifo  */

  /* Inicio afip  */

  .img-qr {
    width: 25%;
  }

  .box6-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .item-1 {
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
    order: 1;
  }

  .copy {
    margin-right: 10px;
    padding-right: 20px;
    color: #eee;
  }
  .i-mail{
    margin-top:10px ;
    margin-bottom: 10px;
    width:30% ;
    padding: 5px;
  }
  .button{
    width: 15%;
  }
}
