/* Header */

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.topLeftHeader {
  text-align: center;
  background-color: #111e4f;
  padding: 10px 0;
}

.tiendaButton {
  background-color: transparent;
  border-radius: 4px;
  padding: 4px 8px;
  color: white;
  border: #fff 2px solid;
  cursor: pointer;
  transition: all 400ms;
}
.tiendaButton:hover {
  background-color: #111e4f;
  opacity: 70%;
  color: #fff;
}

/* texto tienda animacion */

.textoTienda {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

/*
@-webkit-keyframes reveal {
  50% {
    letter-spacing: 5px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes reveal {
  50% {
    letter-spacing: 5px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
*/
/* fin texto tienda animacion */

/*buscador nuevo*/
.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search {
  width: 300px;
  height: 30px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #111e4f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
  color: #111e4f;
}
.container-1 input#search:-moz-placeholder {
  color: #111e4f;
}
.container-1 input#search::-moz-placeholder {
  color: #111e4f;
}
.container-1 input#search:-ms-input-placeholder {
  color: #111e4f;
}
.container-1 .icon {
  position: absolute;
  right: 85%;
  top: 10%;
  bottom: 30%;
  margin-left: 5px;
  margin-top: 1px;
  z-index: 100;
  color: rgba(65, 61, 61, 0.218);
}
.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
  outline: none;
  background: #ffffff;
}

/*fin de nueva barra*/

.topRightHeader li {
  background-color: #111e4f;
  padding: 10px;
  margin: 5px;
  width: auto;
  border-radius: 4px;
  transition: all 400ms;
}

.topRightHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 200ms;
}

.topRightHeader a {
  text-decoration: none;
  color: white;
  background: transparent;
}

.topRightHeader a:hover {
  background-color: transparent;
  color: #fff;
}

.topRightHeader li:hover {
  background-color: #111e4f;
  opacity: 70%;
  color: #fff;
}

.navList ul,
.navMobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList li,
.navMobile li {
  background-color: #111e4f;
  padding: 10px;
  margin: 0 5px 5px;
  width: auto;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms;
}

.navList li:hover,
.navMobile li:hover {
  background-color: #111e4f;
  opacity: 70%;
  color: #fff;
}

.navList a,
.navMobile a {
  text-decoration: none;
  color: white;
}

.searchBar {
  display: none;
  border-radius: 2px;
  width: 10%;
  margin-right: 5px;
}

.fa-solid,
.fa-bars,
.fa-cart-shopping,
.fa-magnifying-glass {
  color: #fff;
}

/* Estilos para la navegación en dispositivos móviles */
.navMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  background-color: #111e4f;
  padding: 10px;
}

.navRightMobile {
  display: flex;
  width: auto;
  order: 1;
  text-align: right;
  background-color: #111e4f;
}

.avatar {
  width: 23px;
}
/* select de productos */
.menuMobile {
  background-color: #243a76;
  /* border: #e68c3a 2px solid; */
  padding-bottom: 5px;
  width: 80vw;
  position: fixed;
  display: none;
}

.bottomLeftNav ul li {
  display: none;
}

#logoMobile {
  width: 90px;
  top: 40px;
  left: 62px;
  position: absolute;
}
#logoDesk {
  display: none;
}
.noDesk i {
  margin-right: 5px;
}

/* menu burger */
.icono-boton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.columna-botones {
  display: none; /* Ocultar la columna de botones */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column; 
}

.columna-botones.mostrar {
  display: flex; 
}

.boton-desplegable {
  color: white;
  background-color: #111e4f;
  margin-left: 20px;
  align-self: center;
  padding: 15px 25px;
  font-size: 16px;
  border: 2px solid #111e4f;
  display: none; /* Ocultar inicialmente */
  width: 200px;
  border: solid 1px white;
  border-radius: 6px;
  
}
.boton-desplegable:hover {
  background-color: #243a76;
  color: #fff;
}


.icono-boton {
  position: relative;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
  outline: none;
  transition: transform 0.1s ease-in-out;
}

.icono-boton:hover {
  color: #555;
}

.icono-boton:active {
  transform: scale(0.85);
}

.icono-boton:focus + .columna-botones {
  display: flex; /* Mostrar la columna de botones cuando el botón está enfocado */
  flex-direction: column;
  align-items: center;
}
/* menu burger Fin */



/* Estilos para pantallas de escritorio (más de 1280px) */
@media (min-width: 1280px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
  .topLeftHeader {
    display: flex;
    padding-left: 20px;
    text-align: left;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
  }
  .tiendaMayoristaDiv {
    /* dejo fijo el boton Cambiar a tienda mayorista */

    position: absolute;
    top: 50px;
    z-index: 2;
    left: 28%;
  }

  .tiendaButton {
    bottom: 120px;
  }

  .navMobile {
    flex-direction: row;
    width: 60%;
    font-size: 25px;
    background-color: #111e4f;
    padding: 5px;
  }
  .navRightMobile {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .topRightHeader li {
    background-color: #111e4f;
  }
  .navList li,
  .navMobile li {
    background-color: #111e4f;
  }
  .navRightMobile i {
    margin: 0 10px;
  }
  .navList {
    margin-top: 5px;
  }
 
  /* HACER MENU DESPLEGABLE */

  /*   .bottomLeftNav ul li {
    display: inherit;
  }

  .bottomLeftNav li a {
    display: block;
  }

  .bottomLeftNav li > ul {
    float: left;
  }

  .bottomLeftNav li:hover > ul {
    display: inline-block;
    position: absolute;
  }

  .bottomLeftNav li ul {
    display: none; 
    position: relative;
  } */

  /**/
  .menuMobile {
    background-color: #111e4f;
    display: flex;
    position: inherit;
    width: 100%;
    justify-content: flex-end;
  }
  .noDesk i {
    display: none;
  }
  .topRightHeader {
    order: 1;
  }
  .bottomRightNav {
    display: flex;
  }
  .bottomLeftNav {
    display: flex;
  }
  #logoDesk {
    display: inline-block;
    top: 20px;
    left: 30px;
  }
  #logoMobile {
    display: none;
  }
  .noDesk img {
    width: 140px;
    position: absolute;
    top: 12px;
    left: 8px;
    z-index: 2;
  }
  
    
  .columna-botones {
      display: none; /* Ocultar la columna de botones en pantallas mayores o iguales a 1280px */
  }

  .columna-botones.mostrar {
      display: flex; /* Mostrar la columna de botones si tiene la clase "mostrar" */
  }
}

