/* Main */


/* banner START*/
.bannerContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%; /* corro todo el slider 1 posicion (w400% / 4 = 100%) */
}

.bannerSection {
  width: 100%;
}

.bannerImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottomCar {
  list-style: none;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

.bottomCar li {
  font-size: 12px;
}

.bottomCar button {
  border: 1px lightgray solid;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: lightgrey;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.leftArrow:hover {
  background-color: transparent;
}

.leftArrow i {
  font-size: 15px;
  padding-left: 3px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scaleX(-1);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.rightArrow:hover {
  background-color: transparent;
}

.rightArrow i {
  font-size: 15px;
  padding-right: 3px;
  transform: scaleX(-1);
}

/* main Banner END */

/* login START */

.loginOutsideBox {
  height: min-content;
  padding: 5px 5%;
  background-color: whitesmoke;
  border-top: 3px solid whitesmoke;
}

.loginBanner {
  color: #fff;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #111e4f;
  padding: 5px 10px;
}

.loginBannerTitle {
  color: #111e4f;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.loginBannerLine {
  color: #111e4f;
  width: 70px;
  height: 3px;
  background-color: #111e4f;
  margin: 5px auto;
}

.loginBannerText,
.loginBannerText a {
  color: #111e4f;
  text-decoration: none;
  transition: color 0.3s;
  padding: 15px;
}

.loginBannerText a:hover {
  color: #55a4da;
}

.titulosH3 h3 {
  /* Mega Oportunidades, Mas vendidos, Nos acompañan */
  color: white;
  border-top: 1px solid lightgrey;
  border-bottom: 3px solid #111e4f;
  text-align: center;
  padding: 10px 25px;
  
  font-size: 25px;
  background-color: #111e4f;
}

/* New Mayorista */

.newMayoristaSection {
  position: relative;
  overflow: hidden;
}
#fotoLimpiar {
  width: 100%;
  height: 800px;
  margin: 0;
  object-fit: cover;
  background-size: cover;
  background-position: right center;
}

.newMayoristaContainer {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px;
  background-color: transparent;
  width: 45%;
  padding: 20px;
}
.newMayoristaQuestion h2 {
  font-size: 24px;
  padding: 5px;
}

.newMayoristaQuestion p {
  font-size: 20px;
}

.newMayoristaButton p {
  font-size: 18px;
}

.newMayoristaQuestion {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  margin: 0;
  color: #111e4f;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.newMayoristaButtonContainer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

.newMayoristaButton {
  border: none;
  background-color: transparent;
  padding: 10px;
  margin-top: 5px;
}

.newMayoristaButton a {
  white-space: nowrap;
  text-decoration: none;
  color: #111e4f;
  cursor: pointer;
  display: block;
}

.hoverMayorista {
  transition: color 400ms;
}

.newMayoristaButton a:hover .hoverMayorista {
  color: #111e4f;
}

.newMayoristaButton i {
  padding-right: 5px;
}

/* benefits START */

.benefitsSection h2 {
  padding-bottom: 10px;
}
.benefitsSection i.fa-id-card {
  color: #111e4f;
  padding-bottom: 10px;
}

.benefitsList i.fa-check {
  color: green;
  padding-right: 8px;
}

.benefitsList li {
  padding: 10px;
  font-size: 100%;
}

.benefitsList .animated-list-item {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
  opacity: 0;
  animation: reveal-item 1s ease forwards;
}

@keyframes reveal-item {
  to {
    opacity: 1;
  }
}

.benefitsList .animated-list-item:nth-child(1) {
  animation-delay: 1s;
}

.benefitsList .animated-list-item:nth-child(2) {
  animation-delay: 2s;
}

.benefitsList .animated-list-item:nth-child(3) {
  animation-delay: 3s;
}

.benefitsList .animated-list-item:nth-child(4) {
  animation-delay: 4s;
}

.benefitsList .animated-list-item:nth-child(5) {
  animation-delay: 5s;
}

/* Nos acompañan START */

.allyBrands {
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}

.carouselContainerBrands {
  display: flex;
  position: relative;
  padding: 0px 20px;
  justify-content: space-between;
}

.carouselContainerBrands img {
  width: 50%;
  height: 200px;
}

.carouselContainerBrands .rightArrow {
  border-radius: 0px;
}

.carouselContainerBrands .leftArrow {
  border-radius: 0px;
}
