/* Main */

/* banner START*/
.bannerContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%; /* corro todo el slider 1 posicion (w400% / 4 = 100%) */
}

.bannerSection {
  width: 100%;
}

.bannerImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottomCar {
  list-style: none;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

.bottomCar li {
  font-size: 12px;
}

.bottomCar button {
  border: 1px green solid;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: #6f6f6f;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.leftArrow:hover {
  background-color: #fff;
}

.leftArrow i {
  font-size: 15px;
  padding-left: 3px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scaleX(-1);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: #6f6f6f;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.rightArrow:hover {
  background-color: #fff;
}

.rightArrow i {
  font-size: 15px;
  padding-right: 3px;
  transform: scaleX(-1);
}

/* main Banner END */

/* login START */

.loginOutsideBox {
  height:min-content;
  padding: 10px 5%;
  background-color:#111e4f;
  border-top: 10px solid #6f6f6f;
}

.loginBanner {
  color: #fff;
  background-color: #111e4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #111e4f;
  padding: 20px 10px;
  
}

.loginBannerTitle {
  color: #fff;
  padding: 0 50px;
  font-size: 30px;
  text-align: center;
}

.loginBannerLine {
  color: #fff;
  width: 70px;
  height: 3px;
  background-color: white;
  margin: 15px auto;
}

.loginBannerText, .loginBannerText a {
  color: white;
  text-decoration: none;
  transition: color 0.3s; 
}

.loginBannerText a:hover {
  color:#55a4da; ;
}


/* Opportunities START */
.opportunities h3,
.bestSellers h3 {
  color: white;
  text-align: center;
  padding: 10px 25px;
  font-size: 25px;
  background-color: #6f6f6f;
}
/* carrusel */


.carouselContainerOpportunities, 
.carouselContainerBestSeller {/* wrapper */
  position: relative;
  display: flex;
	align-items: center;
	justify-content: center;
}

/* Flechas comienzo */
.carouselContainerOpportunities .arrow,
.carouselContainerBestSeller .arrow {
  color: black;
  top: 50%;
  height: 50px;
  width: 50px; 
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.opportunities i:active,
.bestSellers i:active{
  transform: translateY(-50%) scale(0.85);
}
.opportunities i:first-child,
.bestSellers i:first-child{
  left: 0px;
}
.opportunities i:last-child,
.bestSellers i:last-child{
  right: 0px;
}


/* oculta flechas cuando solo hay un producto */
.carouselContainerOpportunities:only-child .arrow,
.carouselContainerBestSeller:only-child .arrow {
  display: none;
}


.carouselContainerOpportunities .carousel,
.carouselContainerBestSeller .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 1) - 100px);
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img, .cardTitle, .cardBody, .cardFooter) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card a {/* saca las lineas subrayadas del precio y titulo */
  text-decoration: none;
  color: inherit;
}

.carousel .card {
  
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  width: 320px;
  height: 250px;
  
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  cursor: pointer;
  border-radius: 15px;
  
}

.carousel .cardBody {
  padding: 20px;
  text-align: center;
  
}
.carousel .cardTitle {
  
  text-align: center;
  padding: 10px 10px 0 10px;
}
.carousel .cardBody img {
  width: 50%;
  /* object-fit: cover; */
}
/* efectos img */
.carousel .card:hover img{
	scale:  1.1;
}

.carousel .card:hover {
	box-shadow: 5px 10px 15px #98a0a5;
    
}
/* fin efectos */

.carousel .cardFooter button {
  display: flex;
  justify-content: center;
  width: 101%;
  white-space: nowrap;
  max-width: 100%;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 2px solid #6f6f6f; 
  border-radius: 0 0 15px 15px;
  background-color:#6f6f6f; 
  color:  #fff; 
  font-size: 17px;
  transition: all 400ms;
  cursor: pointer;
  margin: 0px;
}

.carousel .cardFooter button:hover {
  background-color: #505050; 
  color:#fff; 
}


/* New Mayorista */

.newMayoristaSection {
  position: relative; 
  overflow: hidden;
}
#fotoLimpiar {
  width: 100%;
  height: 800px;
  margin: 0;
  object-fit: cover;
  background-size: cover;
  background-position: right center;
  
}


.newMayoristaContainer {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px;
  background-color: transparent;
  width: 45%;
  padding: 20px; 
   
}


.newMayoristaQuestion {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  margin: 0;
  color: #111e4f;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Asegura que ocupe toda la altura del contenedor padre */
}

.newMayoristaButtonContainer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%; /* Ajusta según sea necesario */
}

.newMayoristaButton {
  border: none;
  background-color: transparent;
  padding: 10px;
  margin-top: 5px;
}

.newMayoristaButton a {
  white-space: nowrap;
  text-decoration: none;
  color: #111e4f;
  cursor: pointer;
  display: block;
}

.hoverMayorista {
  transition: color 400ms;
}

.newMayoristaButton a:hover .hoverMayorista {
  color: #111e4f;
}

.newMayoristaButton i {
  padding-right: 7px;
}


/* benefits START */

.benefitsSection {
  background-color:transparent;
  padding: 5px;
  width: 100%; 
  box-sizing: border-box; 
  position: relative;
}

.benefitsContainer {
  max-width: 100%; 
  margin: 0 auto; 
}

.benefitsSection i {
  padding: 10px;
  font-size: 30px;
  color: #111e4f;
}

.benefitsSection h2 {
  color: #111e4f;
  margin: 9px 0;
}

.benefitsList {
  list-style: none;
  text-align: left;
}

.benefitsList li {
  margin-bottom: 5px;
}

.benefitsList i {
  margin-right: 10px;
  font-size: 12px;
}


/* Nos acompañan START */

.allyBrands {
  position: relative;
  overflow: hidden;
  margin-top: -5px;
  
}

.allyBrands h3 {
  color: white;
  text-align: center;
  padding: 10px 25px;
  font-size: 25px;
  background-color: #6f6f6f;
}

.carouselContainerBrands {
  display: flex;
  position: relative;
  padding: 0px 20px;
  justify-content: space-between;
}

.carouselContainerBrands img {
  width: 50%;
  height: 200px;
}

.carouselContainerBrands .rightArrow {
  border-radius: 0px;
}

.carouselContainerBrands .leftArrow {
  border-radius: 0px;
}



/*        inicio        */
/*        categorias      */



/*        inicio        */

/* RESPONSIVE CARRUSEL */
@media screen and (min-width: 600px) {
  .carouselContainerOpportunities .carousel,
  .carouselContainerBestSeller .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((120% / 2) );
  
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
}
@media screen and (min-width: 700px) {
  .carouselContainerOpportunities .carousel,
  .carouselContainerBestSeller .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) );
  
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
}
  

@media screen and (min-width: 900px) {
  .carouselContainerOpportunities .carousel,
  .carouselContainerBestSeller .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
    grid-auto-columns: calc((100% / 2) - 100px);
  }
}


@media screen and (min-width: 1200px) {

  .carouselContainerOpportunities .carousel,
  .carouselContainerBestSeller .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
    grid-auto-columns: calc((100% / 3) - 30px);
    }
  
}


@media screen and (min-width: 1250px) {
  .carouselContainerOpportunities .carousel,
  .carouselContainerBestSeller .carousel {
    display: grid;
    grid-auto-flow: column;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    gap: 5px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
      grid-auto-columns: calc((100% / 3) - 80px);
    }
  }

@media screen and (min-width: 1600px) {
  .carouselContainerOpportunities .carousel,
  .carouselContainerBestSeller .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-auto-columns: calc((100% / 3) - 130px);
  }
}


@media screen and (min-width: 1700px) {
  .carouselContainerOpportunities .carousel, 
  .carouselContainerBestSeller .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-auto-columns: calc((100% / 4) - 100px);
  }
  
}

/* FIN RESPONSIVE CARRUSEL */