/* Main */


/* banner de fotos START*/
.bannerContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%; /* corro todo el slider 1 posicion (w400% / 4 = 100%) */
}

.bannerSection {
  width: 100%;
}

.bannerImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottomCar {
  list-style: none;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

.bottomCar li {
  font-size: 12px;
}

.bottomCar button {
  border: 1px green solid;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.leftArrow:hover {
  background-color: #fff;
}

.leftArrow i {
  font-size: 15px;
  padding-left: 3px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scaleX(-1);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.rightArrow:hover {
  background-color: #fff;
}

.rightArrow i {
  font-size: 15px;
  padding-right: 3px;
  transform: scaleX(-1);
}

/* main banner END */
.titulosH3 h3 {
  /* Mega Oportunidades, Mas vendidos, Nos acompañan */
  color: white;
  border-top: 3px solid #111e4f;
  border-bottom: 3px solid #111e4f;
  text-align: center;
  padding: 10px 25px;
  font-size: 25px;
  background-color: #111e4f;
}

/* foto con beneficios consumidor inicio*/
#fotoLimpiar {
  width: 100%;
  height: 600px;
  margin: 0px;
  margin-bottom: -5px;
  object-fit: cover;
}

.benefitsContainer {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.benefitsTitle {
  font-size: 35px;
  display: block;
  margin-bottom: 4%;
  color: #151516;
}

.benefitsList {
  list-style: none;
  align-items: center;
  padding: 15px;
  color: #27356e;
}

.benefitsList li {
  font-size: 18px;
  color: #111e4f;
  margin-right: 10px;
  margin-bottom: 3%;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.benefitsList i {
  font-size: 12px;
}

/* fin beneficios consumidor final */

/* beneficios START*/

.benefitsSection {
  position: relative;
}

/* Nos acompañan START */
.allyBrands {
  position: relative;
  overflow: hidden;
  margin-top: -5px;
}

.carouselContainerBrands {
  display: flex;
  position: relative;
  padding: 0px 20px;
  justify-content: space-between;
}

.carouselContainerBrands img {
  width: 50%;
  height: 200px;
}

.carouselContainerBrands .rightArrow {
  border-radius: 0px;
}

.carouselContainerBrands .leftArrow {
  border-radius: 0px;
}

/*Site Alert START */

.SiteAlert {
  background-color: #111e4f;
  padding: 20px;
}

.alertContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  align-items: center;
  color: #fff;
}

.alertContainer i {
  padding-right: 10px;
  font-size: 12px;
  color: white;
}

.alertContainer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s; /*suavizar la transición del color */
}

.alertContainer a:hover {
  color: #55a4da;
}
