* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo img {
  width: 50%;
  filter: drop-shadow(16px 7px 8px #424246);
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-newProduct {
  padding: 20px;
  width: 60%;
}

.form-newProduct {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border: 2px solid #111e4f;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.check {
  color: #111e4f;
}
/* Div contenedor de input y label (con animaciones) START */
.inputGroup {
  position: relative;
  width: 100%;
}

.inputGroupInput {
  font: inherit;
  color: #111e4f;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: 2px solid #111e4f;
  background-color: transparent;
  transition: outline-color 500ms;
  width: 100%;
  /*   margin-bottom: 10px; */
  font-size: 14px;
}

.inputGroupLabel {
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #111e4f;
  transition: translate 500ms, scale 500ms;
}

.inputGroupInput:focus + .inputGroupLabel,
.inputGroupInput:valid + .inputGroupLabel {
  padding-inline: 5px;
  translate: 10px -10px;
  scale: 0.8;
  background-color: whitesmoke;
}
/* Div contenedor de input y label (con animaciones) END */

.error {
  color: red;
  padding: 10px 0 20px;
}

.buttonLogin {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: #111e4f 2px solid;
  margin-top: 20px;
  padding: 10px;
  font-size: 17px;
  color: #111e4f;
  cursor: pointer;
  transition: all 400ms;
}

.buttonLogin:hover {
  background-color: #243a76;
  color: #fff;
}

/* Comienzo validaciones */

.errorMsg {
  display: none;
  color: red;
}

.display {
  display: block;
}
/* Final validaciones */

@media (min-width: 1290px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo img {
    width: 100%;
    padding: 10px;
  }

  .form-newProduct {
    width: 85%;
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .buttonLogin {
    width: 25%;
  }
}
