/* banner de fotos START*/
.bannerContainer {
  position: relative;
}

.banner {
  display: flex;
  width: 400%; /* Puedes ajustar este valor según el número de imágenes */
  height: 400px;
  overflow: hidden;
}
.bannerSection {
  width: 100%;
}

.bannerImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.bottomCar {
  list-style: none;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

.bottomCar li {
  font-size: 12px;
}

.bottomCar button {
  border: 1px green solid;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.leftArrow:hover {
  background-color: transparent;
}

.leftArrow i {
  font-size: 15px;
  padding-left: 3px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scaleX(-1);
  cursor: pointer;
  width: 30px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 20px 10px 3px;
}

.rightArrow:hover {
  background-color: transparent;
}

.rightArrow i {
  font-size: 15px;
  padding-right: 3px;
  transform: scaleX(-1);
}

/* main banner END */
