body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nosotros-container {
  background-color: whitesmoke;
  max-width: 100%;
  position: relative;
  text-align: left;
  padding: 50px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.marcaTitulo {
  text-align: center;
  color: #111e4f;
}

.titulos {
  color: #111e4f;
  border-top: 3px solid #111e4f;
  border-bottom: 3px solid #111e4f;
  text-align: center;
  max-width: 20%;
  padding: 10px;
  font-size: 18px;
  background-color: whitesmoke;
  margin: 2px;
  border-radius: 8px;
}

.descripcion p {
  color: #111e4f;
  font-size: 20px;
  text-align: justify;
  padding: 15px;
  position: relative;
  margin: 20px;
  margin-bottom: 20px;
}
.segmento-objetivo p {
  color: #111e4f;
  font-size: 20px;
  text-align: justify;
  padding: 15px;
  position: relative;
  margin: 20px;
  margin-bottom: 20px;
}

.segmento-objetivo ul {
  color: #111e4f;
  font-size: 20px;
  text-align: justify;
  padding: 15px;
  position: relative;
  margin: 20px;
  margin-bottom: 20px;
}

.precios p {
  color: #111e4f;
  font-size: 20px;
  text-align: justify;
  padding: 15px;
  position: relative;
  margin: 20px;
  margin-bottom: 20px;
}

p {
  padding: 2px;
}
