.nav {
  font-size: 17px;
  padding: 5px 10px;
  margin: 10px 5px;
  color: #111e4f;
  background-color: transparent;
  display: inline-block;
  border-radius: 3px;
}

.nav a {
  color: #111e4f;
  padding: 5px 5px;
}
.nav a:hover {
  color: #55a4da;
}

p{
  margin-top: 5px;
}

.product {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  text-align: center;
  align-items: center;
  
}

.product img {
  width: 50%;
  padding: 10px;
  height: auto;
  align-self: center;
}

.cardDetail {
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}

.name {
  background-color: transparent;
  color: #111e4f;
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
}

.prices {
  margin-top: 5px;
}

.notPrice {
  text-decoration: line-through;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.amount {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
}

.amount p {
  width: 100%;
  text-align: left;
}

.cart {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: #55a4da 2px solid;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 17px;
  color: #55a4da;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 400ms;
}

.cart:hover {
  background-color: #55a4da;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.delete,
.edit {
  margin: 0px 5px;
  color: #fff;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.edit {
  background-color: #ffa54a;
}

.delete {
  background-color: red;
}

.desc {
  margin-top: 10px;
  text-align: left;
}

/* stock START */
.stockContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#quantity {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 3rem;
  text-align: center;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.stockButton {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  outline-offset: 0.1875rem;
  transition: color 0.2s;
  outline: none;
  background-color: #f3f4f6;
  opacity: 0.5;
  border: 1px solid #f3f7ff;
  height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
/* stock END */

/* PRODUCTOS RELACIONADOS  */

.titleRelatedProducts {
    color: white;
    border-top: 3px solid #111e4f;
    border-bottom: 3px solid #111e4f;
    text-align: center;
    padding: 10px 25px;
    font-size: 25px;
    background-color: #111e4f;
    margin-top: 20px;
  
}

@media screen and (min-width: 1200px) {
  .product {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: normal;
    justify-content: space-around;
  }
  .product img {
    margin: 20px;
    width: 300px;
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
  }
  
}


