.nav {
  padding: 5px;
  margin: 10px 5px;
  color: white;
  background-color: #243a76;
  display: inline-block;
}

.nav a {
  color: white;
}

.button {
  margin-bottom: 10px;
}

.create {
  margin: 0px 5px;
  color: #fff;
  background-color: green;
  width: 20%;
  border-radius: 8px;
  border: none;
  padding: 10px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  text-align: center;
  align-items: center;
}

.product img {
  width: 100%;
  padding: 10px;
  height: auto;
  align-self: center;
}

.nameList {
  background-color: #213e60;
  color: white;
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
}

.cart:hover {
  background-color: #55a4da;
  color: #fff;
}

.desc {
  margin-top: 10px;
  text-align: left;
}

.allProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#categorySelect {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#categorySelect option {
  font-size: 14px;
}

#categorySelect:hover,
#categorySelect:focus {
  border-color: #5e8cd3;
  box-shadow: 0 0 5px rgba(94, 140, 211, 0.5);
}

#categorySelect option:hover {
  background-color: #dce8ff;
}

/* Agrega cualquier estilo adicional según tus preferencias */


@media (min-width: 860px) {
  .create {
    width: 15%;
  }
}

@media (min-width: 1200px) {
  .create {
    width: 10%;
  }
}
