.nav {
  font-size: 17px;
  padding: 5px 10px;
  margin: 10px 5px;
  color: #111e4f;
  background-color: transparent;
  display: inline-block;
  border-radius: 3px;
}

.nav a {
  color: #111e4f;
  padding: 5px 5px;
}
.nav a:hover {
  color: #55a4da;
}

.product {
  display: flex;
  margin: auto;
  width: 90%;
  text-align: center;
  align-items: center;
}

.product img {
  width: 100%;
  padding: 10px;
  height: auto;
  align-self: center;
}

.nameList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #111e4f;
  border-bottom: 3px solid #111e4f;
  background-color: #111e4f;
  padding: 5px;
}

.productListTittle {
  color: white;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.productListTittle h3 {
  font-size: 25px;
}

.categorySelectContainer select {
  color: white;
  background-color: #111e4f;
  margin-left: 20px;
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #111e4f;
}

.categorySelectContainer select:hover,
.categorySelectContainer select:focus {
  border-color: #ccc;
  box-shadow: 0 0 5px rgba(94, 140, 211, 0.5);
}

.categorySelectContainer select option:hover {
  background-color: #243a76;
}

.cart:hover {
  background-color: #55a4da;
  color: #fff;
}

.desc {
  margin-top: 10px;
  text-align: left;
}

.allProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  margin-top: 10px;
  width: 150px;
  box-sizing: border-box;
}
.create {
  color: #fff;
  background-color: green;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 800px) {
  .nameList {
    display: flex;
    flex-direction: column;
  }

  .productListTittle {
    white-space: nowrap;
  }

  .categorySelectContainer select {
    margin-top: 50px;
  }
}
