.container {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.user-info {
  margin-top: 50px;
  border: 2px solid #111e4f;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.user-info:hover {
  transform: scale(1.05);
}

.user-info p {
  margin: 10px 0;
  font-size: 16px;
  color: #111e4f;
}

.imageProfile {
  width: 200px;
  height: 200px;
  margin-top: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.buttons {
  padding: 10px 20px;
  background-color: white;
  color: #111e4f;
  border: #111e4f 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  width: 100%;
  transition: background-color 400ms, color 400ms;
}

.buttons:hover {
  background-color: #111e4f;
  color: white;
}

/* Estilos para pantallas más grandes (más de 1290px de ancho) */
@media screen and (min-width: 1290px) {
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .user-info {
    margin-left: 20px;
    text-align: left;
  }

  .imageProfile {
    order: -1; /* Cambiar el orden para que la imagen esté al principio */
    margin-right: 20px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .buttons {
    width: auto; /* Ancho automático para adaptarse al contenido */
    margin: 5px; /* Pequeño margen entre botones */
  }
}
