<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/css/register.css" />

    <title>Registro</title>
  </head>
  <body>
    <%- include('../partials/headerCf') %>

    <main>
      <div class="registerForm">
        <form action="/" >
          <h2 class="registerTitle">Crear Cuenta de Cliente</h2>
        
          <h4 class="registerTitle">Información Personal</h4>
        
          <div class="form-field">
            <div class="data">
              
              <input
              placeholder="Nombre"
                type="text"
                name="name"
                id="name"
                required
                pattern="[\w\s]+"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input
              placeholder="Apellido"
                type="text"
                name="lastname"
                id="lastname"
                required
                pattern="[\w\s]+"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input
              placeholder="Cuit/Dni"
                type="number"
                name="dni"
                id="dni"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>
        
          <h4 class="registerTitle">Datos de Domicilio</h4>
        
          <div class="form-field">
            <div class="data">
              
              <input 
              placeholder="Razón Social"
              type="text" 
              name="reason" 
              id="reason" 
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input
              placeholder="Teléfono/Celular"
                type="number"
                name="tel"
                id="tel"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input 
              placeholder="Dirección"
              type="text" name="address" id="address" required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input placeholder="Barrio/Localidad"
               type="text" name="barrio" id="barrio" required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              <input
              placeholder="Código Postal"
                type="number"
                name="codigoPostal"
                id="codigoPostal"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input 
              placeholder="País"
              type="text" name="pais" id="pais" required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input
              placeholder="Especificaciones para la entrega"
              type="text" name="especificaciones" id="especificaciones" />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              <input placeholder="Email" type="email" name="email" id="email" required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input placeholder="Contraseña"type="password" name="password" id="password" required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input placeholder="Confirmar Contraseña"type="password"name="confirmPassword"id="confirmPassword"
                required
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data-checkbox">
              <input type="checkbox" name="remember" value="remember" />
              <label for="remember" class="labelTag">Recordarme</label>
        
              <input type="checkbox" name="notify" value="notify" />
              <label for="notify">Mandar Notificaciones</label>
            </div>
          </div>
        
          <div class="button-form">
            <button type="submit">Crear Cuenta</button>
          </div>
        </form>
      </div class="registerForm">
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
