<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: 'Registro consumidor final'}) %>

    <link rel="stylesheet" href="/css/register.css" />

  </head>
  <body>
    <%- include('../partials/headerCf') %>

    <main>
      <div class="registerForm">
        <form action="/">
          <h2 class="registerTitle">CONSUMIDOR FINAL</h2>
        
          <h4 class="registerTitle">Información personal</h4>
        
          <div class="form-field">
            <div class="data">
              
              <input
              placeholder="Nombre"
                type="text"
                name="name"
                id="name"
                required
                pattern="[\w\s]+"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">

              <input
              placeholder="Apellido"
                type="text"
                name="lastname"
                id="lastname"
                required
                pattern="[\w\s]+"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input
              placeholder="DNI"
                type="number"
                name="dni"
                id="dni"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
          
              <input
              placeholder="Teléfono / Celular"
                type="number"
                name="tel"
                id="tel"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>

          <div class="form-field">
            <div class="data">
             
              <input
              placeholder="Email" 
              type="email" 
              name="email" 
              id="email" 
              required />
            </div>
          </div>

          <div class="form-field">
            <div class="data">
          
              <input 
              placeholder="Contraseña"
              type="password" 
              name="password" 
              id="password" 
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input
              placeholder="Confirmar Contraseña"
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                required
              />
            </div>
          </div>
    
          <h4 class="registerTitle">Domicilio</h4>
        
          <div class="form-field">
            <div class="data">
          
              <input 
              placeholder="Dirección"
              type="text" 
              name="address" 
              id="address" 
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input 
              placeholder="Localidad"
              type="text" 
              name="location" 
              id="location" 
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input
              placeholder="C.P"
                type="number"
                name="cp"
                id="cp"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input 
              placeholder="Provincia"
              type="text" 
              name="province" 
              id="province" 
              required />
            </div>
          </div>

          <div class="form-field">
            <div class="data">
              
              <input 
              placeholder="País"
              type="text" 
              name="country" 
              id="country" 
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              
              <input 
              placeholder="Especificaciones para la entrega"
              type="text" 
              name="specification" 
              id="specification" />
            </div>
          </div>
                
          <div class="form-field">
            <div class="data-checkbox">
              <label for="notify">Mandar notificaciones</label>
              <input 
              type="checkbox" 
              name="notify" 
              id="notify" 
              value="notify" />
            </div>
          </div>
        
          <div class="button-form">
            <button type="submit">Crear cuenta</button>
          </div>
        </form>
      </div class="registerForm">
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
