<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: 'Registro mayorista'}) %>

    <link rel="stylesheet" href="/css/register.css" />

  </head>
  <body>
    <%- include('../partials/headerMayorista') %>
    <main>
      <div class="registerForm">
        <form action="/">
          <h2 class="registerTitle">CLIENTE MAYORISTA</h2>
        
          <h4 class="registerTitle">Información</h4>
        
          <div class="form-field">
            <div class="data">
              
              <input 
              placeholder="Razón social"
                type="text"
                name="businessName"
                id="businessName"
                style="padding-left:20px;"
                required
                pattern="[\w\s]+"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
            
              <input
              placeholder="CUIT"
                type="number"
                name="cuit"
                id="cuit"
                style="padding-left:20px;"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input
              placeholder="Teléfono / Celular"
                type="number"
                name="tel"
                id="tel"
                style="padding-left:20px;"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>

          <div class="form-field">
            <div class="data">
             
              <input 
              placeholder="Email"
              type="email" 
              name="email" 
              id="email" 
              style="padding-left:20px;"
              required />
            </div>
          </div>

          <div class="form-field">
            <div class="data">
             
              <input 
              placeholder="Contraseña"
              type="password" 
              name="password" 
              id="password" 
              style="padding-left:20px;"
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
             
              <input
              placeholder="Confirmar Contraseña"
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                style="padding-left:20px;"
                required
              />
            </div>
          </div>
    
          <h4 class="registerTitle">Domicilio</h4>
        
          <div class="form-field">
            <div class="data">
             
              <input 
              placeholder="Dirección"
              type="text" 
              name="address" 
              id="address" 
              style="padding-left:20px;"
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
            
              <input 
              placeholder="Localidad"
              type="text" 
              name="location" 
              id="location" 
              style="padding-left:20px;"
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
            
              <input
              placeholder="C.P"
                type="number"
                name="cp"
                id="cp"
                style="padding-left:20px;"
                required
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input 
              placeholder="Provincia"
              type="text" 
              name="province" 
              id="province" 
              style="padding-left:20px;"
              required />
            </div>
          </div>

          <div class="form-field">
            <div class="data">
             
              <input 
              placeholder="País"
              type="text" 
              name="country" 
              id="country" 
              style="padding-left:20px;"
              required />
            </div>
          </div>
        
          <div class="form-field">
            <div class="data">
              
              <input 
              placeholder="Especificaciones para la entrega"
              type="text" 
              name="specification" 
              id="specification" 
              style="padding-left:20px;"/>
            </div>
          </div>
                
          <div class="form-field">
            <div class="data-checkbox">
              <label for="notify">Mandar notificaciones</label>
              <input type="checkbox" name="notify" id="notify" value="notify" />
            </div>
          </div>
        
          <div class="button-form">
            <button type="submit">Crear cuenta</button>
          </div>
        </form>
      </div class="registerForm">
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
